<% page_title(@collection.title) %>
<% page_description(@collection.description) %>

<div class="container mt-3">
  <%= render partial: 'show_breadcrumbs' %>

  <div class="d-flex flex-wrap justify-content-between align-items-center mt-3">
    <h1><%= @collection.title %></h1>

    <% if policy(@collection).edit? || policy(@collection).destroy? %>
      <div class="btn-group">
        <% if policy(@collection).edit? %>
          <%= link_to edit_admin_community_collection_path(@community, @collection),
                      class: 'btn btn-outline-secondary' do %>
            <%= icon('fas', 'edit') %>
            <%= t('edit') %>
          <% end %>
        <% end %>
        <% if policy(@collection).destroy? %>
          <%= link_to admin_community_collection_path(@community, @collection), method: :delete,
                                                                                class: 'btn btn-outline-secondary', data: { confirm: t('.delete_confirm', title: @collection.title) } do %>
            <%= icon('fas', 'trash-alt') %>
            <%= t('delete') %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @collection.description.present? %>
    <div class="p-3">
      <p><%= @collection.description %></p>
    </div>
  <% end %>

  <div class="d-flex flex-wrap align-items-center justify-content-between mt-3">
    <h2 class="mr-auto">
      <%= t('.items_list_header') %>
    </h2>

    <% if @collection.restricted.blank? %>
      <% if policy(:item).new? %>
        <%= link_to create_draft_items_path(collection: @collection.id), method: :post,
                                                                         class: 'btn btn-primary' do %>
          <%= icon('fas', 'plus-circle') %>
          <%= t('.deposit_item') %>
        <% end %>
      <% end %>
    <% else %>
      <% if policy(:thesis).new? %>
        <%= link_to create_draft_admin_theses_path(collection: @collection.id), method: :post,
                                                                                class: 'btn btn-primary' do %>
          <%= icon('fas', 'plus-circle') %>
          <%= t('.deposit_thesis') %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= render partial: 'search_bar', locals: { placeholder: t('.search_placeholder') } %>
  <%= render partial: 'results', locals: { results: @results } %>

</div>
