<% page_title(@collection.title) %>

<%= render partial: 'breadcrumbs' %>

<div class="d-flex justify-content-between mt-3">
  <h1>
    <%= t('.header', title: @collection.title) %>
  </h1>

  <%# "align-self-center" stops buttons from growing to size of H1 in this flexbox %>
  <div class="btn-group align-self-center">
    <% if policy(@collection).edit? %>
      <%= link_to t('edit'),
          edit_community_collection_path(@community, @collection),
          class:'btn btn-outline-primary' %>
    <% end %>
    <% if policy(@collection).destroy? %>
      <%= link_to t('delete'), community_collection_path(@community, @collection), method: :delete,
          class:'btn btn-danger',
          data: { confirm: t('admin.communities_and_collections.collection.delete_confirm',
                  title: @collection.title) } %>
    <% end %>
  </div>
</div>

<h5 class="works-header">
  <%= t('.works_list_header') %>
</h5>

<div class="row mt-3">
  <div class="col">
    <div class="list-group collection-works">
      <% if @collection.member_works.count > 0 %>
        <% @collection.member_works.each do |work| %>
          <div class="list-group-item list-group-item-action d-flex justify-content-between">
            <%= link_to work.title, work_path(work) %>
            <div class="btn-group">
              <% if policy(@collection).edit? %>
                <%= link_to t('edit'), edit_work_path(work), class:'btn btn-outline-primary' %>
              <% end %>
              <% if policy(@collection).destroy? %>
                <%= link_to t('delete'), work_path(work), method: :delete, class:'btn btn-danger',
                    data: { confirm: t('.work_delete_confirm', title: work.title) } %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
          <%= t('.no_works_in_collection') %>
      <% end %>
    </div>
  </div>
</div>
