<% page_title(@collection.title) %>

<div class="collection-breadcrumb">
  <ol class="breadcrumb mb-1">
    <li class="breadcrumb-item">
      <%= link_to(@community.title, community_path(@community)) %>
    </li>
    <li class="breadcrumb-item active"><%= @collection.title %></li>
  </ol>
</div>

<div class="d-flex justify-content-between mt-3">
  <h1>
    <%= t('.header', title: @collection.title) %>
  </h1>

  <%# "align-self-center" stops buttons from growing to size of H1 in this flexbox %>
  <div class="btn-group align-self-center">
    <% if policy(@collection).edit? %>
      <%= link_to t('edit'),
          edit_community_collection_path(@community, @collection),
          class:'btn btn-outline-primary' %>
    <% end %>
    <% if policy(@collection).destroy? %>
      <%= link_to t('delete'), community_collection_path(@community, @collection), method: :delete,
          class:'btn btn-danger',
          data: { confirm: t('admin.communities_and_collections.collection.delete_confirm',
                  title: @collection.title) } %>
    <% end %>
  </div>
</div>

<h5 class="items-header">
  <%= t('.items_list_header') %>
</h5>

<div class="row mt-3">
  <div class="col">
    <div class="list-group collection-items">
      <% if @collection.member_items.count > 0 %>
        <% @collection.member_items.each do |item| %>
          <div class="list-group-item list-group-item-action d-flex justify-content-between">
            <%= link_to item.title, item_path(item) %>
            <div class="btn-group align-self-center">
              <% if policy(@collection).edit? %>
                <%= link_to t('edit'), edit_item_path(item), class:'btn btn-outline-primary' %>
              <% end %>
              <% if policy(@collection).destroy? %>
                <%= link_to t('delete'), item_path(item), method: :delete, class:'btn btn-danger',
                    data: { confirm: t('.item_delete_confirm', title: item.title) } %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
          <%= t('.no_items_in_collection') %>
      <% end %>
    </div>
  </div>
</div>
