%h2.mt-3= "Collection: #{@collection.title}"
%h5.mt-3= link_to 'Parent Community: ' + @community.title, community_path(@community)

.row.mt-3
	.col
		.list-group
			- if @collection.member_works.count > 0
				- @collection.member_works.each do |w|
					= link_to w.title, work_path(w), class: 'list-group-item list-group-item-action'
			- else
				There are no works in this Collection

= link_to 'Edit', edit_community_collection_path(@community, @collection), class:'btn btn-secondary'
