<% page_title(@collection.title) %>

<%= render partial: 'show_breadcrumbs' %>

<div class="d-flex flex-wrap justify-content-between mt-3">
  <h1><%= @collection.title %></h1>

  <% if policy(@collection).edit? || policy(@collection).destroy? %>
    <div class="btn-group align-self-center">
      <% if policy(@collection).edit? %>
        <%= link_to t('edit'),
            edit_admin_community_collection_path(@community, @collection),
            class:'btn btn-outline-primary' %>
      <% end %>
      <% if policy(@collection).destroy? %>
        <%= link_to t('delete'), admin_community_collection_path(@community, @collection), method: :delete,
            class:'btn btn-danger', data: { confirm: t('.delete_confirm', title: @collection.title) } %>
      <% end %>
    </div>
  <% end %>
</div>

<% if @collection.description.present? %>
  <div class="p-3">
    <p><%= @collection.description %></p>
  </div>
<% end %>

<h5 class="items-header p-3">
  <%= t('.items_list_header') %>
</h5>

<div class="row mt-3">
  <div class="col">
    <div class="list-group">
      <% if @collection.member_items.count > 0 %>
        <% @collection.member_items.each do |item| %>
          <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
            <%= link_to item.title, item_path(item) %>
            <div class="btn-group">
              <% if policy(@collection).edit? %>
                <%= link_to t('edit'), edit_item_path(item), class:'btn btn-outline-primary' %>
              <% end %>
              <% if policy(@collection).destroy? %>
                <%= link_to t('delete'), item_path(item), method: :delete, class:'btn btn-danger',
                    data: { confirm: t('.item_delete_confirm', title: item.title) } %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
          <%= t('.no_items_in_collection') %>
      <% end %>
    </div>
  </div>
</div>
