<div class="container mt-5">
  <h1>Policies</h1>

  <h2>Contents</h2>

  <ul class="list-group mb-3">
    <li class="list-group-item list-group-item-action">
      <%= link_to 'ERA Content Policy', '#content-policy'%>
    </li>
    <li class="list-group-item list-group-item-action">
      <%= link_to 'Digital Preservation Statement for ERA', '#digital-preservation'%>
    </li>
    <li class="list-group-item list-group-item-action">
      <%= link_to 'ERA Take-Down Policy', '#take-down-policy'%>
    </li>
    <li class="list-group-item list-group-item-action">
      <%= link_to 'Metadata Quality Policy', '#metadata-quality' %>
    </li>
    <li class="list-group-item list-group-item-action">
      <%= link_to 'University of Alberta ERA Deposit and Distribution Agreement', '#era-agreement'%>
    </li>
  </ul>

  <h2 id="content-policy">ERA Content Policy</h2>

  <p>
    ERA preserves and makes accessible material related to teaching and research activities at the
    University of Alberta and partner institutions. By providing an open access environment for researchers
    to self-archive and share their research, ERA supports the Tri-Agency Open Access Policy on Publications.
    Canadian researchers whose home institution does not currently maintain an institutional repository can
    deposit their research with ERA, which is designated as an adoptive repository by the
    Canadian Association of Research Libraries.
  </p>

  <p>
    Undergraduate student work must be vetted by a Faculty or Department, or through consultation with the
    Digital Repository Services Librarian, before deposit in ERA.
  </p>

  <p>
    ERA provides a <%=link_to 'mediated deposit service', help_path%> which can help researchers determine if
    their material is appropriate for deposit, and can provide support in determining licensing and publisher
    permissions.
  </p>

  <p>
    Please contact us <a href="/contact">Contact Us</a> for more information about depositing in ERA.
  </p>


  <h2 id="digital-preservation">Digital Preservation Statement for ERA</h2>

  <p>
    UAL employs a number of strategies to ensure the preservation of digital material within ERA.
    Preservation is about more than just keeping a backup copy. It requires a commitment to monitoring and
    actively maintaining the content so that future generations will be able to find, discover and use today’s
    digital material regardless of changes to formats and technologies.
    Our strategies are informed by relevant standards and community best practices.
    For more information please visit Technologies and Partnerships
    <%= link_to 'Technology and Partnerships', technology_path %>.
  </p>

  <h2 id="take-down-policy">ERA Take-Down Policy</h2>

  <p>
    The removal of an item from ERA once it is deposited is generally discouraged. However,
    items will be temporarily taken down under the following scenarios until a determination is made to either
    restore or permanently remove the item: A copyright dispute emerges requiring investigation.
    There is disagreement among multiple authors over whether the item should be placed in ERA.
    It is in the best interests of depositors to seek co-author permission prior to deposit.
  </p>

  <p>
    Items will be removed immediately if:
    We become aware of any illegal activity facilitated by an item in ERA.
    An ERA item is used for internet nuisance activity by a user, such as to spam others.
  </p>


  <h2 id="metadata-quality">Metadata Quality Policy</h2>

  <p>
    Detailed policy and practice workflows exist to ensure that ERA metadata is of the highest possible quality.
    Metadata already within ERA may undergo enhancement on an ad-hoc or project basis.
    This allows for optimum collation, dissemination, and preservation of ERA content.
    Contact <a href="mailto:eraadmi@ualberta.ca">eraadmi@ualberta.ca</a> for more information.
  </p>


  <h2 id="era-agreement">University of Alberta ERA Deposit and Distribution Agreement</h2>

  <p>
    By accepting this agreement, you (the author or copyright right owner or designate) grant to the
    University of Alberta the non-exclusive rights to reproduce, translate (as defined below),
    and/or distribute your submission (including the abstract) worldwide in print and electronic format
    and in any medium, including but not limited to audio or video. Access to your submission via ERA
    will be governed by the specific terms (Creative Commons, etc.) you indicate, and you will remain free
    to revise these terms of access.
  </p>

  <p>
    You agree that the University of Alberta may, without changing the content, translate the submission
    to any medium or format for the purpose of preservation.
  </p>

  <p>
    You also agree that the University of Alberta may keep more than one copy of this submission for purposes
    of security, backup and preservation.
  </p>

  <p>
    You represent and warrant that the submission is your original work and/or that you have the right to
    grant the rights contained in the license. You also represent that your submission does not, to the best
    of your knowledge, infringe upon anyone’s copyright.
  <p>

  <p>
    If the submission contains material for which you do not hold copyright, you represent that you have
    obtained the unrestricted permission of the copyright owner to grant the University of Alberta
    the rights required by this agreement, and that such third-party owned material is clearly identified
    and acknowledged within the text of content of the submission.
  </p>

  <p>
    IF THE SUBMISSION IS BASED UPON WORK THAT HAS BEEN SPONSORED OR SUPPORTED BY AN AGENCY OR ORGANIZATION
    OTHER THAN THE UNIVERSITY OF ALBERTA, YOU REPRESENT THAT YOU HAVE FULFILLED ANY RIGHT OF REVIEW OR OTHER
    OBLIGATIONS REQUIRED BY THE AGREEMENT WITH SUCH SPONSOR.
  </p>

  <p>
    The University of Alberta will clearly identify your name(s) as the author(s) or owner(s) of the submission,
    and will not make any alteration, other than as allowed by this agreement, to your submission.
  </P>

  <p>
    If you have questions about this agreement please contact the Digital Repository Services Librarian at
    <a href="mailto:erahelp@ualberta.ca">erahelp@ualberta.ca</a>.
  </p>
</div>
