<div class="container mt-3">
  <h1>Policies</h1>

  <h2>Contents</h2>

  <ul class="list-group mb-3">
    <li class="list-group-item list-group-item-action">
      <%= link_to 'ERA Content Policy', '#content-policy' %>
    </li>
    <li class="list-group-item list-group-item-action">
      <%= link_to 'Eligibility: Who May Deposit Items in ERA?', '#eligibility' %>
    </li>
    <li class="list-group-item list-group-item-action">
      <%= link_to 'ERA Take-Down Policy', '#take-down-policy' %>
    </li>
    <li class="list-group-item list-group-item-action">
      <%= link_to 'Metadata Quality Policy', '#metadata-quality' %>
    </li>
    <li class="list-group-item list-group-item-action">
      <%= link_to 'Digital Preservation Statement for ERA', '#digital-preservation' %>
    </li>
    <li class="list-group-item list-group-item-action">
      <%= link_to 'University of Alberta ERA Deposit and Distribution Agreement', '#era-agreement' %>
    </li>
  </ul>

  <h2 id="content-policy">ERA Content Policy</h2>

  <p>
ERA preserves and makes accessible material related to research and teaching, at the University of Alberta and partner institutions. By providing an open access environment for researchers to self-archive and share their research, ERA enables compliance with the <a href="http://www.science.gc.ca/eic/site/063.nsf/eng/h_F6765465.html">Tri-Agency Open Access Policy on Publications</a>. Canadian researchers whose home institution does not currently maintain an institutional repository can deposit their research with ERA, which is designated as an adoptive repository by the Canadian Association of Research Libraries (contact <a href="mailto:eraadmi@ualberta.ca">eraadmi@ualberta.ca</a> to get started). Undergraduate student work must be vetted by a Faculty or Department or through consultation with the Head, Digital Repositories and Research Data Management before deposit in ERA.
  </p>

  <p>
    ERA provides a mediated deposit service which can help researchers determine if their material is appropriate for deposit, will provide support in determining licensing and publisher permissions, and carries out deposits on behalf of researchers. Please <%= link_to 'contact us', contact_path %> for help.
  </p>

  <p>
    ERA Contains:
  </p>
<ul>
  <li>Books</li>
  <li>Book Chapters</li>
  <li>Conference/Workshop Posters</li>
  <li>Conference/Workshop Presentations</li>
  <li>Datasets - a group of files associated with research that often include a data file, a codebook, or other forms of data; many images in ERA are classified as data</li>
  <li>Journal Articles (Draft-submitted) – these are sometimes called pre-prints</li>
  <li>Journal Articles (Final, peer-reviewed manuscript) – these are sometimes called post-prints</li>
  <li>Journal Articles (Published version) – check SHERPA-RoMEO for journals allowing this type of deposit</li>
  <li>Learning Objects - syllabus, class Power Point presentation, practice exam, etc.</li>
  <li>Reports</li>
  <li>Research Materials – items such as an images, field notebooks, etc. that don't fall into the other categories</li>
  <li>Reviews - book review, data review, etc.</li>
</ul>

<h2 id="eligibility">Eligibility: Who May Deposit Items?</h2>

<p>
Members of the University of Alberta community with a valid CCID may deposit items in ERA. Others may request deposit support from the ERA HelpDesk if their content is determined to be in scope for the service. Contact <a href="mailto:eraadmi@ualberta.ca">eraadmi@ualberta.ca</a> to learn more about our mediated deposit service and training sessions. View our <%= link_to 'policies', '#content-policy' %> for guidelines around depositing content.
</p>

  <h2 id="take-down-policy">ERA Take-Down Policy</h2>

  <p>
The removal of an item from ERA once it is deposited is generally discouraged. However, items will be temporarily taken down under the following scenarios until a determination is made to either restore or permanently remove the item:
  </p>

  <ul>
    <li>A copyright dispute emerges requiring investigation.</li>
    <li>There is disagreement among multiple authors/creators over whether the item should be placed in ERA. It is in the best interests of depositors to seek co-author permission prior to deposit.</li>
  </ul>
  <p>Items will be removed immediately if: </p>
  <ul>
    <li>We become aware of any illegal activity facilitated by an item in ERA.</li>
    <li>An ERA item is used for internet nuisance activity by a user, such as to spam others.</li>
  </ul>

  <h2 id="metadata-quality">Metadata Quality Policy</h2>

  <p>
    Detailed policy and practice workflows exist to ensure that ERA metadata (the terminology we use to describe individual records in ERA) is of the highest possible quality. Metadata already within ERA may undergo enhancement on an ad-hoc or project basis, and we reserve the right to correct metadata as needed. This allows for optimal collation, dissemination, and preservation of ERA content. <%= link_to 'Contact us', contact_path %> for more information.
  </p>

  <h2 id="digital-preservation">Digital Preservation Statement for ERA</h2>

  <p>
    UAL employs a number of strategies to ensure the preservation of digital material within ERA. Preservation is about more than just keeping a backup copy. It requires a commitment to monitoring and actively maintaining the content so that future generations will be able to find, discover and use today’s digital material regardless of changes to formats and technologies. Our strategies are informed by relevant standards and community best practices. For a summary of our practices please see our UAL Digital Preservation Practices document.
  </p>

  <h2 id="era-agreement">University of Alberta ERA Deposit and Distribution Agreement</h2>

  <p>
    Users of ERA must agree to the ERA Deposit and Distribution Agreement below as part of the deposit process.
  </p>

  <p>
    You agree that the University of Alberta may, without changing the content, translate the submission
    to any medium or format for the purpose of preservation.
  </p>

  <p>By accepting this agreement, you (the author or copyright right owner or designate) grant to the University of Alberta the non-exclusive rights to reproduce, translate (as defined below), and/or distribute your submission (including the abstract) worldwide in print and electronic format and in any medium, including but not limited to audio or video. Access to your submission via ERA will be governed by the specific terms (Creative Commons, etc.) you indicate, and you will remain free to revise these terms of access. You agree that the University of Alberta may, without changing the content, translate the submission to any medium or format for the purpose of preservation. You also agree that the University of Alberta may keep more than one copy of this submission for purposes of security, backup and preservation. You represent and warrant that the submission is your original work and/or that you have the right to grant the rights contained in the license. You also represent that your submission does not, to the best of your knowledge, infringe upon anyone’s copyright. If the submission contains material for which you do not hold copyright, you represent that you have obtained the unrestricted permission of the copyright owner to grant the University of Alberta the rights required by this agreement, and that such third-party owned material is clearly identified and acknowledged within the text of content of the submission. If the submission is based upon work that has been sponsored or supported by an agency or organization other than the University of Alberta, you represent that you have fulfilled any right of review or other obligations required by the agreement with such sponsor. The University of Alberta will clearly identify your name(s) as the author(s) or owner(s) of the submission, and will not make any alteration, other than as allowed by this agreement, to your submission. If you have questions about this agreement please contact the ERA HelpDesk at <a href="mailto:eraadmi@ualberta.ca">eraadmi@ualberta.ca</a>.
  </p>
</div>
