<div class="js-community-collection">
  <div class="form-group">
    <label>
      <span class="text-danger font-weight-bold">*</span>
      <%= t('.community') %>
    </label>

    <%= select_tag 'draft_item[community_id][]',
                    options_from_collection_for_select(
                      Community.all,
                      :id,
                      :title,
                      community.present? ? community.id : nil ),
                    prompt: t('.community_placeholder'),
                    class: 'form-control js-community-select' %>
  </div>
  <div class="form-group">
    <label>
      <span class="text-danger font-weight-bold">*</span>
      <%= t('.collection') %>
    </label>
    <% if community.present? %>
          <%= select_tag 'draft_item[collection_id][]',
                         options_from_collection_for_select(
                           community.member_collections,
                           :id,
                           :title,
                           collection.present? ? collection.id : nil),
                         prompt: t('.collection_placeholder'),
                         data: { placeholder: t('.collection_placeholder')},
                         class: 'form-control js-collection-select' %>
    <% else %>
      <%= select_tag 'draft_item[collection_id][]',
                      nil,
                      data: { placeholder: t('.collection_placeholder')},
                      class: 'form-control js-collection-select',
                      disabled: true %>
    <% end %>
    <div class="d-flex flex-row-reverse">
      <div class="p-3">
        <%= link_to fa_icon('remove'), '#', title: t(:remove), class: 'btn btn-danger js-remove-community-collection' %>
      </div>
    </div>
  </div>
</div>
