<li class="media my-3 p-3 border">
  <%= image_tag file.url, alt: 'Preview Image', width:'120', height: '120', class: 'mr-3 img-fluid img-thumbnail' %>
  <div class="media-body">
    <div class="pull-right">
      <button type="button" data-dz-remove class="btn btn-secondary">
        <%= fa_icon 'times' %>
        <%= t('remove') %>
      </button>
    </div>
    <h5><%=file.filename %></h5>
    <p><%= number_to_human_size(file.byte_size) %></p>
  </div>
</li>
