<% page_title(t('.header')) %>

<div class="container mt-3">
  <%= render partial: 'progress_bar' %>

  <h2 class="mt-3">
    <%= fa_icon t('.header_icon') %>
    <%= @is_edit ? t('.header_edit') : t('.header') %>
  </h2>

  <%= simple_form_for @draft, url: wizard_path, method: :put, html: { class:'js-deposit-item' } do |f| %>
    <p><%= t('.please_review_item') %></p>

    <div class="row">

      <div class="col-md-4">

        <div class="card mb-3">
          <div class="card-header">
            <%= link_to wizard_path(:upload_files), class: 'float-right' do %>
              <%= fa_icon 'pencil-square-o' %>
              <%= t('edit') %>
            <% end %>
            <%=  t('items.draft.upload_files.header') %>
          </div>

          <div class="card-body">
            <%= render partial: 'feature_image', locals: { object: @draft } %>

            <ul class="list-group mt-3">
              <% @draft.files.each do |file|%>
                <li class="list-group-item">
                  <%= fa_icon file_icon(file.content_type) %>
                  <%=file.filename %>
                  <span class="badge badge-primary badge-pill float-right">
                  <%= number_to_human_size(file.byte_size) %>
                  </span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            <%= link_to wizard_path(:choose_license_and_visibility), class: 'float-right' do %>
              <%= fa_icon 'pencil-square-o' %>
              <%= t('edit') %>
            <% end %>
            <%=  t('items.draft.choose_license_and_visibility.header') %>
          </div>
          <div class="card-body">
            <h4 class="card-title">License</h4>
            <p class="card-text">
              <% if @draft.license_text? %>
                <%= @draft.license_text_area %>
              <% else %>
                <%= t("items.draft.choose_license_and_visibility.license.#{@draft.license}_html") %>
              <% end %>
            </p>
            <h4 class="card-title">Visibility</h4>
              <p class="card-text">
                <%= t("items.draft.choose_license_and_visibility.visibility.#{@draft.visibility}") %>
                <% if @draft.embargo? %>
                  <%= jupiter_time_tag(@draft.embargo_end_date) %>
                <% end %>
              </p>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-header">
            <%= link_to wizard_path(:describe_item), class: 'float-right' do %>
              <%= fa_icon 'pencil-square-o' %>
              <%= t('edit') %>
            <% end %>
            <%=  t('items.draft.describe_item.header') %>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-1 text-muted">
              <%=  t('items.draft.describe_item.title') %>
            </h6>
            <p class="card-text"><%= @draft.title %></p>

            <% if @draft.alternate_title.present? %>
              <h6 class="card-subtitle mb-1 text-muted">
                <%=  t('items.draft.describe_item.alternate_title') %>
              </h6>
              <p class="card-text"><%= @draft.alternate_title %></p>
            <% end %>

            <h6 class="card-subtitle mb-1 text-muted">
              <%=  t('items.draft.describe_item.type_id') %>
            </h6>
            <p class="card-text">
              <%= @draft.type.translated_name %>
            </p>

            <h6 class="card-subtitle mb-1 text-muted">
              <%=  t('items.draft.describe_item.languages') %>
            </h6>
            <ul>
              <% @draft.languages.each do |language| %>
              <li><%= language.translated_name %></li>
              <% end %>
            </ul>

            <h6 class="card-subtitle mb-1 text-muted">
              <%=  t('items.draft.describe_item.creators') %>
            </h6>
            <ul>
              <% @draft.creators.each do |creator| %>
              <li><%= creator %></li>
              <% end %>
            </ul>

            <h6 class="card-subtitle mb-1 text-muted">
              <%=  t('items.draft.describe_item.subjects') %>
            </h6>
            <ul>
              <% @draft.subjects.each do |subject| %>
              <li><%= subject %></li>
              <% end %>
            </ul>

            <h6 class="card-subtitle mb-1 text-muted">
              <%=  t('items.draft.describe_item.date_created') %>
            </h6>
            <p class="card-text">
              <%= @draft.date_created %>
            </p>

            <% if @draft.description.present? %>
              <h6 class="card-subtitle mb-1 text-muted">
                <%=  t('items.draft.describe_item.description') %>
              </h6>
              <p class="card-text">
                <%= @draft.description %>
              </p>
            <% end %>

            <h6 class="card-subtitle mb-1 text-muted">
              <%=  t('items.draft.describe_item.community_and_collection') %>
            </h6>
            <ul>
              <% @draft.each_community_collection do |community, collection| %>
                <li>
                  <%= community.title %>
                  /
                  <%= collection.title %>
                </li>
              <% end %>
            </ul>

            <% if @draft.contributors.present? %>
              <h6 class="card-subtitle mb-1 text-muted">
                <%=  t('items.draft.describe_item.contributors') %>
              </h6>
              <ul>
                <% @draft.contributors.each do |contributor| %>
                  <li><%= contributor %></li>
                <% end %>
              </ul>
            <% end %>

            <% if @draft.places.present? %>
              <h6 class="card-subtitle mb-1 text-muted">
                <%=  t('items.draft.describe_item.places') %>
              </h6>
              <ul>
                <% @draft.places.each do |place| %>
                  <li><%= place %></li>
                <% end %>
              </ul>
            <% end %>

            <% if @draft.time_periods.present? %>
              <h6 class="card-subtitle mb-1 text-muted">
                <%=  t('items.draft.describe_item.time_periods') %>
              </h6>
              <ul>
                <% @draft.time_periods.each do |time_period| %>
                  <li><%= time_period %></li>
                <% end %>
              </ul>
            <% end %>

            <% if @draft.citations.present? %>
              <h6 class="card-subtitle mb-1 text-muted">
                <%=  t('items.draft.describe_item.citations') %>
              </h6>
              <ul>
                <% @draft.citations.each do |citation| %>
                  <li><%= citation %></li>
                <% end %>
              </ul>
            <% end %>

            <% if @draft.source.present? %>
              <h6 class="card-subtitle mb-1 text-muted">
                <%=  t('items.draft.describe_item.source') %>
              </h6>
              <p class="card-text">
                <%= @draft.source %>
              </p>
            <% end %>

            <% if @draft.related_item.present? %>
              <h6 class="card-subtitle mb-1 text-muted">
                <%=  t('items.draft.describe_item.related_item') %>
              </h6>
              <p class="card-text">
                <%= @draft.related_item %>
              </p>
            <% end %>
          </div>
        </div>

        <p><%= t('.legal_disclaimer_html') %></p>
        <div class="mb-3 d-flex flex-wrap justify-content-end">
          <%= link_to previous_wizard_path, class: 'btn btn-secondary mr-2' do %>
            <%= fa_icon 'chevron-left' %>
            <%= t('items.draft.previous') %>
          <% end %>
          <%= button_tag type: :submit, class: 'btn btn-primary', data: { disable_with: t('items.draft.submit_draft_btn_loading_html') } do %>
            <%= fa_icon 'save' %>
            <% if @is_edit %>
              <%= t('items.draft.save_and_deposit_edits') %>
            <% else %>
              <%= t('items.draft.header') %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
