<% page_title( t('.header')) %>

<%= render partial: 'progress_bar' %>

<h2 class="mt-3">
  <%= fa_icon t('.header_icon') %>
  <%= t('.header') %>
</h2>

<%= simple_form_for @draft_item, url: wizard_path, method: :put, html: { class:'js-deposit-item' } do |f| %>
  <p><%= t('.please_review_item') %></p>

  <div class="row">

    <div class="col-md-4">

      <div class="card mb-3">
        <div class="card-header">
          <%= link_to wizard_path(:upload_files), class: 'pull-right' do %>
            <%= fa_icon 'pencil-square-o' %>
            <%= t('edit') %>
          <% end %>
          <%=  t('items.draft.upload_files.header') %>
        </div>

        <div class="card-body">
          <%= render partial: 'thumbnail', locals: { thumbnail: @draft_item.thumbnail }%>

          <ul class="list-group">
            <% @draft_item.files.each do |file|%>
              <li class="list-group-item">
                <%= fa_icon file_icon(file.content_type) %>
                <%=file.filename %>
                <span class="badge badge-primary badge-pill pull-right">
                 <%= number_to_human_size(file.byte_size) %>
                </span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <%= link_to wizard_path(:choose_license_and_visibility), class: 'pull-right' do %>
            <%= fa_icon 'pencil-square-o' %>
            <%= t('edit') %>
          <% end %>
          <%=  t('items.draft.choose_license_and_visibility.header') %>
        </div>
        <div class="card-body">
          <h4 class="card-title">License</h4>
          <p class="card-text">
            <% if @draft_item.license_text? %>
              <%= @draft_item.license_text_area %>
            <% else %>
              <%= t("items.draft.choose_license_and_visibility.license.#{@draft_item.license}_html") %>
            <% end %>
          </p>
          <h4 class="card-title">Visibility</h4>
            <p class="card-text">
              <%= t("items.draft.choose_license_and_visibility.visibility.#{@draft_item.visibility}") %>
              <% if @draft_item.embargo? %>
                <%= jupiter_time_tag(@draft_item.embargo_end_date) %>
              <% end %>
            </p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-header">
          <%= link_to wizard_path(:describe_item), class: 'pull-right' do %>
            <%= fa_icon 'pencil-square-o' %>
            <%= t('edit') %>
          <% end %>
          <%=  t('items.draft.describe_item.header') %>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-1 text-muted">
            <%=  t('items.draft.describe_item.title') %>
          </h6>
          <p class="card-text"><%= @draft_item.title %></p>

          <% if @draft_item.alternate_title.present? %>
            <h6 class="card-subtitle mb-1 text-muted">
              <%=  t('items.draft.describe_item.alternate_title') %>
            </h6>
            <p class="card-text"><%= @draft_item.alternate_title %></p>
          <% end %>

          <h6 class="card-subtitle mb-1 text-muted">
            <%=  t('items.draft.describe_item.type_id') %>
          </h6>
          <p class="card-text">
            <%= @draft_item.type.translated_name %>
          </p>

          <h6 class="card-subtitle mb-1 text-muted">
            <%=  t('items.draft.describe_item.languages') %>
          </h6>
          <ul>
            <% @draft_item.languages.each do |language| %>
            <li><%= language.translated_name %></li>
            <% end %>
          </ul>

          <h6 class="card-subtitle mb-1 text-muted">
            <%=  t('items.draft.describe_item.creators') %>
          </h6>
          <ul>
            <% @draft_item.creators.each do |creator| %>
            <li><%= creator %></li>
            <% end %>
          </ul>

          <h6 class="card-subtitle mb-1 text-muted">
            <%=  t('items.draft.describe_item.subjects') %>
          </h6>
          <ul>
            <% @draft_item.subjects.each do |subject| %>
            <li><%= subject %></li>
            <% end %>
          </ul>

          <h6 class="card-subtitle mb-1 text-muted">
            <%=  t('items.draft.describe_item.date_created') %>
          </h6>
          <p class="card-text">
            <%= @draft_item.date_created %>
          </p>

          <h6 class="card-subtitle mb-1 text-muted">
            <%=  t('items.draft.describe_item.description') %>
          </h6>
          <p class="card-text">
            <%= @draft_item.description %>
          </p>

          <h6 class="card-subtitle mb-1 text-muted">
            <%=  t('items.draft.describe_item.community_and_collection') %>
          </h6>
          <ul>
            <li>
              <%= Community.find(@draft_item.member_of_paths['community_id']).title %>
              /
              <%= Collection.find(@draft_item.member_of_paths['collection_id']).title %>
            </li>
          </ul>

          <% if @draft_item.contributors.present? %>
            <h6 class="card-subtitle mb-1 text-muted">
              <%=  t('items.draft.describe_item.contributors') %>
            </h6>
            <ul>
              <% @draft_item.contributors.each do |contributor| %>
                <li><%= contributor %></li>
              <% end %>
            </ul>
          <% end %>

          <% if @draft_item.places.present? %>
            <h6 class="card-subtitle mb-1 text-muted">
              <%=  t('items.draft.describe_item.places') %>
            </h6>
            <ul>
              <% @draft_item.places.each do |place| %>
                <li><%= place %></li>
              <% end %>
            </ul>
          <% end %>

          <% if @draft_item.time_periods.present? %>
            <h6 class="card-subtitle mb-1 text-muted">
              <%=  t('items.draft.describe_item.time_periods') %>
            </h6>
            <ul>
              <% @draft_item.time_periods.each do |time_period| %>
                <li><%= time_period %></li>
              <% end %>
            </ul>
          <% end %>

          <% if @draft_item.citations.present? %>
            <h6 class="card-subtitle mb-1 text-muted">
              <%=  t('items.draft.describe_item.citations') %>
            </h6>
            <ul>
              <% @draft_item.citations.each do |citation| %>
                <li><%= citation %></li>
              <% end %>
            </ul>
          <% end %>

          <% if @draft_item.source.present? %>
            <h6 class="card-subtitle mb-1 text-muted">
              <%=  t('items.draft.describe_item.source') %>
            </h6>
            <p class="card-text">
              <%= @draft_item.source %>
            </p>
          <% end %>

          <% if @draft_item.related_item.present? %>
            <h6 class="card-subtitle mb-1 text-muted">
              <%=  t('items.draft.describe_item.related_item') %>
            </h6>
            <p class="card-text">
              <%= @draft_item.related_item %>
            </p>
          <% end %>
        </div>
      </div>

      <p><%= t('.legal_disclaimer_html') %></p>
      <div class="mb-3 pull-right">
        <%= link_to previous_wizard_path, class: 'btn btn-secondary' do %>
          <%= fa_icon 'chevron-left' %>
          <%= t('items.draft.previous') %>
        <% end %>
        <%= button_tag type: :submit, class: 'btn btn-primary' do %>
          <%= fa_icon 'save' %>
          <%= t('items.draft.header') %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
