<% page_title(t('.header')) %>

<div class="d-flex flex-wrap align-items-center justify-content-between my-3">
  <h1>
    <%= t('.header') %>
  </h1>
  <%= link_to create_draft_items_path, method: :post,
      class: 'btn btn-primary' do %>
    <%= fa_icon('plus-circle') %>
    <%= t('collections.show.deposit_item') %>
  <% end %>
</div>

<%= render partial: 'search_bar', locals: { placeholder: t('.search_placeholder') } %>
<%= render partial: 'results', locals: { results: @results } %>
