<li class="list-group-item">
  <div class="d-flex flex-wrap justify-content-between">
    <div>
      <% if params[:facets]&.fetch(facet_name, nil) == raw_value %>
        <%= link_to query_params_without_facet(facet_name) do %>
          <%= content_tag(:input, '', type: 'checkbox', 'aria-label' => raw_value, checked: true) %>
          <%= presentation_value %>
        <% end %>
      <% else %>
        <%= link_to query_params_with_facet(facet_name, raw_value) do %>
          <%= content_tag(:input, '', type: 'checkbox', 'aria-label' => raw_value) %>
          <%= presentation_value %>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= count %>
    </div>
  </div>
</li>
