<div class="card mt-3">
  <div class="card-header"><%= facet.category_name %></div>

  <ul class="list-group list-group-flush">
    <% facet.each_facet_value(0..@max_facets-1) do |facet_value| %>
      <%= render partial: 'search/facet_value', locals: { value: present(facet_value)} %>
    <% end %>
  </ul>
  <% if facet.count > @max_facets %>
    <%# Other results collapsed by default %>
    <div class='js-hideshow'>
      <div class="collapse" id='<%= "#{facet.solr_index}_hidden" %>'>
        <ul class="list-group list-group-flush">
          <% facet.each_facet_value(@max_facets..-1) do |facet_value| %>
            <%= render partial: 'search/facet_value', locals: { value: present(facet_value)} %>
          <% end %>
        </ul>
      </div>
      <%# Show/Hide controls in card footer %>
      <div class="card-footer">
        <a data-toggle="collapse"
            data-parent=".js-hideshow"
            href="#<%= "#{facet.solr_index}_hidden" %>"
            aria-expanded="false"
            aria-controls="<%= "#{facet.solr_index}_hidden" %>">
          <span class='js-hideshow-control'>
            <%= t('search.show_count_more', count: facet.count - @max_facets) %>
          </span>
          <span class='js-hideshow-control' style='display:none;'>
            <%= t('search.hide_last_count', count: facet.count - @max_facets) %>
          </span>
        </a>
      </div>
    </div>
  <% end %>
</div>
