<div class="media mb-3">
  <%# TODO: add real thumbnail after filesets are solidified %>
  <%= link_to path_for_result(result) do %>
    <div class="img-thumbnail item-thumbnail-small bogus-thumbnail d-flex justify-content-center align-items-center mb-3 mr-3"
         title='<%= t('items.thumbnail_for', title: result.title) %>'>
￼     <p class="my-1 mr-3"><%= t('thumbnail') %></p>
￼   </div>
  <% end %>
  <div class="media-body">
    <div class="d-flex justify-content-between">
      <h5 class="mt-0"><%= link_to result.title, path_for_result(result) %></h5>
      <div>
        <%= link_to '#', class: 'btn btn-secondary' do %>
          <%= fa_icon 'cloud-download' %>
          <%= t('download') %>
        <% end %>
      </div>
    </div>

    <div class="mt-0">
      <%= result.sort_year %>
    </div>
    <div>
      <%# TODO: the search path may need to be revisited %>
      <%= result.creator&.map { |creator| link_to creator, creator_search_path(creator) }&.join(', ')&.html_safe %>
    </div>
    <div>
      <%# TODO: for long description, implement 'more ...' / 'less ...' %>
      <%= result.description %>
    </div>
  </div>
</div>
