<div class="row mt-3 jupiter-model-results">

  <%# Facets/filters panel, hide unless opened on mobile %>
  <div class="col-md-3 col-sm-2 d-none d-md-block jupiter-filters">
    <div class="card">
      <div class="card-header d-flex flex-wrap justify-content-between">
        <div>
          <%= t('search.filter') %>
        </div>
        <div class="d-md-none js-filters-close">
          <%= link_to '#' do %>
            <%= t('close') %>
            <%= fa_icon 'times-circle' %>
          <% end %>
        </div>
      </div>
      <div class="card-body p-2 filter-list">
        <% results.each_facet_with_results(@first_facet_categories) do |facet| %>
          <%= render partial: 'search/facet_results', locals: { facet: facet } %>
        <% end %>
      </div>
    </div>
  </div>

  <%# Results panel %>
  <div class="col-md-9 col-sm-10 card jupiter-results">
    <div class='p-3'>
      <div class="d-flex flex-wrap justify-content-between">
        <div>
          <% if search_term.present? %>
            <h3><%= t('search.results_for', search: search_term) %></h3>
          <% end %>
        </div>

        <div>
          <%= render partial: 'search/sort' %>
        </div>

      </div>

      <div class="d-md-none mt-2">
        <%= button_tag type: :button, class: 'btn btn-jupiter-primary mb-2 js-filters-open' do %>
          <%= fa_icon 'filter' %>
          <%= t('search.filter_results') %>
        <% end %>
      </div>

      <%# Facet Badges %>
      <div class='jupiter-facet-badges'>
        <% results.each_facet_with_results do |facet| %>
          <% facet.each_facet_value do |facet_value| %>
            <% if params[:facets]&.fetch(facet_value.solr_index, [])&.include?(facet_value.value) %>
              <%= render partial: 'search/facet_badge', locals: { value: present(facet_value).display,
                         raw_value: facet_value.value,
                         solr_index: facet_value.solr_index } %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%# Results list %>
    <div class='jupiter-results-list'>
      <ul class="list-group">
        <% results.each do |result| %>
          <li class="list-group-item list-group-item-action">
            <%= render result %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="p-2 d-flex justify-content-center">
      <div>
        <%= results_range(results) %>
      </div>
    </div>
    <%= paginate results %>

  </div>
</div>

<%# Overlay for when mobile filter sidebar is open %>
<div class="filters-overlay">
</div>
