<div class="row mt-3 jupiter-model-results">

  <%# Facets panel %>
  <div class="col-md-3 col-sm-2 jupiter-facets">
    <div class="card">
      <div class="card-header">
        <%= t('search.filter') %>
      </div>
      <div class="card-body p-2">
        <% results.each_facet_with_results do |facet| %>
          <%= render partial: 'search/facet_results', locals: { facet: facet } %>
        <% end %>
      </div>
    </div>
  </div>

  <%# Results panel %>
  <div class="col-md-9 col-sm-10 card jupiter-results">
    <div class='p-3'>
      <div class="d-flex flex-wrap justify-content-between">
        <div>
          <% if search_term.present? %>
            <h3><%= t('search.results_for', search: search_term) %></h3>
          <% end %>
        </div>

        <div>
          <%= render partial: 'search/sort' %>
        </div>
      </div>

      <%# Facet Badges %>
      <div class='jupiter-facet-badges'>
        <% results.each_facet_with_results do |facet| %>
          <% facet.each_facet_value do |presentation_value, raw_value, count| %>
            <% if params[:facets]&.fetch(facet.facet_name, nil) == raw_value %>
              <%= render partial: 'search/facet_badge', locals: { presentation_value: presentation_value,
                         facet_name: facet.facet_name } %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%# Results list %>
    <div class='jupiter-results-list'>
      <ul class="list-group">
        <% results.each do |result| %>
          <li class="list-group-item list-group-item-action">
            <% if model == :item %>
              <%= render partial: 'search/item_hit', locals: { result: result } %>
            <% else %>
              <%= link_to result.title, path_for_result(result) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="p-2 d-flex justify-content-center">
      <div>
        <%= results_range(results) %>
      </div>
    </div>
    <%= paginate results %>

  </div>
</div>
