<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="search-sort-button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <% if params[:sort].present? %>
      <%= sort_label(params[:sort], params[:direction]) %>
    <% else %>
      <%= t('search.sort_by') %>
    <% end %>
  </button>
  <div class="dropdown-menu" aria-labelledby="search-sort-button">
    <%= sort_link('title', 'asc') %>
    <%= sort_link('title', 'desc') %>
    <%= sort_link('record_created_at', 'desc') %>
    <%= sort_link('record_created_at', 'asc') %>
  </div>
</div>
