<% page_title( t('.header')) %>

<%= render partial: 'progress_bar' %>

<h2 class="mt-3"><%= t('.header') %></h2>

<%# TODO: Need to figure out data model and migrate everything to use form_for and it's helpers
= form_for @item, url: wizard_path, method: :put, class:'js-deposit-item' do |f| %>
<%= form_tag wizard_path, method: :put, class:'js-deposit-item' do %>
  <fieldset class="my-3">
    <legend>
      <span class="text-danger">*</span>
      <%= t('.license.header') %>
    </legend>

    <div id="js-license-accordion" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="js-heading-most-common">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#js-collapse-most-common" aria-expanded="true" aria-controls="js-collapse-most-common">
              <%= t('.license.most_commonly_used') %>
              <%= fa_icon "chevron-up", class: "js-more-less pull-right" %>
            </a>
          </h5>
        </div>

        <div id="js-collapse-most-common" class="collapse show" role="tabpanel" aria-labelledby="js-heading-most-common" data-parent="#js-license-accordion">
          <div class="card-body">
            <div class="form-check">
              <label class="form-check-label">
                <%= radio_button_tag 'license', 'attribution_noncommercial', true, class: 'form-check-input' %>
                <%= t('.license.attribution_noncommercial_html') %>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="js-heading-other-collective-common-licenses">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#js-collapse-other-collective-common-licenses" aria-expanded="false" aria-controls="js-collapse-other-collective-common-licenses">
              <%= t('.license.other_creative_commons_licenses') %>
              <%= fa_icon "chevron-down", class: "js-more-less pull-right" %>
            </a>
          </h5>
        </div>

        <div id="js-collapse-other-collective-common-licenses" class="collapse" role="tabpanel" aria-labelledby="js-heading-other-collective-common-licenses" data-parent="#js-license-accordion">
          <div class="card-body">

            <div class="form-check">
              <label class="form-check-label">
                <%= radio_button_tag 'license', 'attribution', false, class: 'form-check-input' %>
                <%= t('.license.attribution_html') %>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <%= radio_button_tag 'license', 'attribution_noncommercial_noderivatives', false, class: 'form-check-input' %>
                <%= t('.license.attribution_noncommercial_noderivatives_html') %>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <%= radio_button_tag 'license', 'attribution_noncommercial_sharealike', false, class: 'form-check-input' %>
                <%= t('.license.attribution_noncommercial_sharealike_html') %>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <%= radio_button_tag 'license', 'attribution_noderivatives', false, class: 'form-check-input' %>
                <%= t('.license.attribution_noderivatives_html') %>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <%= radio_button_tag 'license', 'attribution_sharealike', false, class: 'form-check-input' %>
                <%= t('.license.attribution_sharealike_html') %>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <%= radio_button_tag 'license', 'cco_universal', false, class: 'form-check-input' %>
                <%= t('.license.cco_universal_html') %>
              </label>
            </div>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="js-heading-public-domain">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#js-collapse-public-domain" aria-expanded="false" aria-controls="js-collapse-public-domain">
              <%= t('.license.public_domain') %>
              <%= fa_icon "chevron-down", class: "js-more-less pull-right" %>
            </a>
          </h5>
        </div>

        <div id="js-collapse-public-domain" class="collapse" role="tabpanel" aria-labelledby="js-heading-public-domain" data-parent="#js-license-accordion">
          <div class="card-body">
            <div class="form-check">
              <label class="form-check-label">
                <%= radio_button_tag 'license', 'public_domain_mark', false, class: 'form-check-input' %>
                <%= t('.license.public_domain_mark_html') %>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="js-heading-link-to-another-license">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#js-collapse-link-to-another-license" aria-expanded="false" aria-controls="js-collapse-link-to-another-license">
              <%= t('.license.link_to_another_license') %>
              <%= fa_icon "chevron-down", class: "js-more-less pull-right" %>
            </a>
          </h5>
        </div>

        <div id="js-collapse-link-to-another-license" class="collapse" role="tabpanel" aria-labelledby="js-heading-link-to-another-license" data-parent="#js-license-accordion">
          <div class="card-body">

            <div class="form-check">
              <label class="form-check-label">
                <%= radio_button_tag 'license', 'license_text_or_url', false, class: 'form-check-input' %>
                <%= t('.license.license_text_or_url') %>
              </label>
            </div>
            <div class="form-group">
              <textarea name="" id="" cols="30" rows="5" placeholder="Copy/paste the URL or license" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <small class="form-text text-muted">
      <%= t('.license.help_html') %>
    </small>
  </fieldset>
  <fieldset class="my-3">
    <legend>
      <span class="text-danger">*</span>
      <%= t('.visibility.header') %>
    </legend>
    <div class="form-check">
      <label class="form-check-label">
        <%= radio_button_tag 'visibility', 'public', true, class: 'form-check-input' %>
        <%= t('.visibility.public') %>
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <%= radio_button_tag 'visibility', 'embargo', false, class: 'form-check-input' %>
        <%= t('.visibility.embargo') %>
      </label>
      <div class="d-md-flex justify-content-between">
        <%= date_select('item', 'embargo_date',
                        { order: [:year, :month, :day],
                          prompt: { day: t('select_a_day'),
                                    month: t('select_a_month'),
                                    year: t('select_a_year')
                                  },
                          start_year: Date.today.year
                        }, { class: 'form-control  mr-2 mb-2' }) %>
      </div>
    </div>
    <div class="form-check disabled">
      <label class="form-check-label">
        <%= radio_button_tag 'visibility', 'authenticated', false, class: 'form-check-input', disabled: true %>
        <%= t('.visibility.authenticated') %>
      </label>
    </div>
    <div class="form-check disabled">
      <label class="form-check-label">
        <%= radio_button_tag 'visibility', 'authenticated', false, class: 'form-check-input', disabled: true %>
        <%= t('.visibility.private') %>
      </label>
    </div>
  </fieldset>

  <div class="mt-3 pull-right">
    <%= link_to previous_wizard_path, class: 'btn btn-secondary' do %>
      <%= fa_icon 'chevron-left' %>
      <%= t('deposit_item.previous') %>
    <% end %>
    <%= button_tag type: :submit, class: 'btn btn-primary' do %>
      <%= t('deposit_item.save_and_continue') %>
      <%= fa_icon 'chevron-right' %>
    <% end %>
  </div>
<% end %>
