<% page_title( t('.header')) %>

<%= render partial: 'progress_bar' %>

<h2 class="mt-3"><%= t('.header') %></h2>


<form>
  <p class="text-muted">Required fields marked with <span class="text-danger">*</span></p>

  <div class="form-group">
    <label>
      <span class="text-danger">*</span>
      Title
    </label>
    <input type="text" class="form-control" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label>Alternate Title</label>
    <input type="text" class="form-control" placeholder="Enter alternate title">
    <small class="form-text text-muted">Enter a secondary/translated title, if appropriate.</small>
  </div>
  <div class="form-group">
    <label>
      <span class="text-danger">*</span>
      Type of Item
    </label>
    <select class="form-control">
      <option>EXAMPLE</option>
      <option>EXAMPLE</option>
      <option>EXAMPLE</option>
      <option>EXAMPLE</option>
      <option>EXAMPLE</option>
    </select>
    <small class="form-text text-muted">If you do not see an appropriate item type, please contact erahelp@ualberta.ca</small>
  </div>
  <div class="form-group">
    <label>
      <span class="text-danger">*</span>
      Language
    </label>
    <input type="text" class="form-control" placeholder="Select2 input goes here">
  </div>
  <div class="form-group">
    <label>
      <span class="text-danger">*</span>
      Author/Creator
    </label>
    <input type="text" class="form-control" placeholder="Select2 input goes here">
    <small class="form-text text-muted">One author per box. Example:  Doe, Jane B.</small>
  </div>
  <div class="form-group">
    <label>
      <span class="text-danger">*</span>
      Subject/Keywords
    </label>
    <input type="text" class="form-control" placeholder="Select2 input goes here">
    <small class="form-text text-muted">
      Enter subjects or keywords that describe the item. These are the words that will be used when someone searches for your item.
    </small>
  </div>
  <div class="form-group">
    <label>
      <span class="text-danger">*</span>
      Date created
    </label>
    <div class="d-md-flex justify-content-between">
        <%= date_select('item', 'date_created',  {order: [:year, :month, :day],  prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }}, {class: 'form-control  mr-2 mb-2'}) %>
    </div>
  </div>
  <div class="form-group">
    <label>Description or Abstract</label>
    <textarea class="form-control" name="" id="" placeholder="Enter description or abstract" cols="30" rows="10"></textarea>
  </div>

  <fieldset>
    <legend class="mb-0">
      <span class="text-danger">*</span>
      Community and Collection
    </legend>
    <small class="mb-3 form-text text-muted">
      Choose the Community and Collection that best match your item(s).
      If you need a new collection, email erahelp@ualberta.ca
    </small>
    <div class="form-group">
      <label>Community</label>
      <select class="form-control">
        <option>EXAMPLE</option>
        <option>EXAMPLE</option>
        <option>EXAMPLE</option>
        <option>EXAMPLE</option>
        <option>EXAMPLE</option>
      </select>
    </div>
    <div class="form-group">
      <label>Collection</label>
      <select class="form-control">
        <option>EXAMPLE</option>
        <option>EXAMPLE</option>
        <option>EXAMPLE</option>
        <option>EXAMPLE</option>
        <option>EXAMPLE</option>
      </select>
    </div>
  </fieldset>

  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseAdditionalFields" aria-expanded="false" aria-controls="collapseAdditionalFields">
   Additional fields <%= fa_icon 'chevron-down' %> (TODO handle toggling of icon)
  </button>
  <div class="collapse mt-3" id="collapseAdditionalFields">
    <div class="form-group">
      <label>Additional Contributer</label>
      <input type="text" class="form-control" placeholder="Select2 input goes here">
      <small class="form-text text-muted">
        A person or group you want to recognize for playing a role in the creation of this item, but not the primary role. If there is a specific role you would like noted, include it in parentheses, e.g. "Jones, Mary (Advisor)."
      </small>
    </div>
    <div class="form-group">
      <label>Is this item about a place?</label>
      <input type="text" class="form-control" placeholder="Select2 input goes here">
      <small class="form-text text-muted">
        A place name related to the item, such as the city, province, or country the item's contents are about.
      </small>
    </div>
    <div class="form-group">
      <label>Is this item about a time?</label>
      <input type="text" class="form-control" placeholder="Select2 input goes here">
      <small class="form-text text-muted">Examples:
        <ul>
          <li>a specific date: 2009/12/31</li>
          <li>a date range:  2003/2010</li>
          <li>a time period: the Enlightenment</li>
        </ul>
      </small>
    </div>
    <div class="form-group">
      <label>Citation for previous publication</label>
      <input type="text" class="form-control" placeholder="Select2 input goes here">
      <small class="form-text text-muted">
        If your item has been previously published, provide a citation
      </small>
    </div>
    <div class="form-group">
      <label>Source</label>
      <input type="text" class="form-control">
      <small class="form-text text-muted">
        Brief information about an item from which this item was derived.
      </small>
    </div>
    <div class="form-group">
      <label>Link to related item</label>
      <input type="text" class="form-control">
      <small class="form-text text-muted">
        Must be a url. Example: http://www.ualberta.ca
      </small>
    </div>
  </div>

  <div class="mt-5">
    <%= link_to 'Cancel', root_path, class: 'btn btn-secondary' %>
    <%= link_to 'Save and Continue', next_wizard_path, class: 'btn btn-primary' %>
  </div>
</form>


