<% page_title( t('.header')) %>

<%= render partial: 'progress_bar' %>

<h2 class="mt-3"><%= t('.header') %></h2>

<%# TODO: Need to figure out data model and migrate everything to use form_for and it's helpers
= form_for @item, url: wizard_path, method: :post, class:'js-deposit-item' do |f| %>
<%= form_tag deposit_item_index_path, class:'js-deposit-item' do %>
  <p class="text-muted"><%= t('required_fields_html') %></p>

  <div class="form-group">
    <%= label_tag 'title' do %>
      <span class="text-danger">*</span>
      <%= t('.title') %>
    <% end %>
    <%= text_field_tag 'title', nil, class: 'form-control', placeholder: t('.title_placeholder') %>  </div>

  <div class="form-group">
    <%= label_tag 'alternate_title', t('.alternate_title') %>
    <%= text_field_tag 'alternate_title', nil, class: 'form-control', placeholder: t('.alternate_title_placeholder') %>
    <small class="form-text text-muted"><%= t('.alternate_title_help') %></small>
  </div>

  <div class="form-group">
    <%= label_tag 'type_of_item' do %>
      <span class="text-danger">*</span>
      <%= t('.type_of_item') %>
    <% end %>
    <%= select_tag 'type_of_item', options_for_select(@item_types), class: 'form-control' %>
    <small class="form-text text-muted"><%= t('.type_of_item_help_html') %></small>
  </div>

  <div class="form-group">
    <%= label_tag 'language' do %>
      <span class="text-danger">*</span>
      <%= t('.language') %>
    <% end %>
    <%= select_tag 'language', options_for_select(@languages), multiple: true, data: { placeholder: t('.language_placeholder') }, class: 'form-control js-select2' %>
  </div>

  <div class="form-group">
    <%= label_tag 'creator' do %>
      <span class="text-danger">*</span>
      <%= t('.creator') %>
    <% end %>
    <%= select_tag 'creator', nil, multiple: true, data: { tags: true, placeholder: t('.creator_placeholder') }, class: 'form-control js-select2' %>
    <small class="form-text text-muted"><%= t('.creator_help') %></small>
  </div>

  <div class="form-group">
    <%= label_tag 'subject' do %>
      <span class="text-danger">*</span>
      <%= t('.subject') %>
    <% end %>
    <%= select_tag 'subject', nil, multiple: true, data: { tags: true, placeholder: t('.subject_placeholder') }, class: 'form-control js-select2' %>
    <small class="form-text text-muted"><%= t('.subject_help') %></small>
  </div>

  <div class="form-group">
    <%= label_tag 'date_created' do %>
      <span class="text-danger">*</span>
      <%= t('.date_created') %>
    <% end %>
    <div class="d-md-flex justify-content-between">
        <%= date_select('item', 'date_created',
          { order: [:year, :month, :day],
            prompt: { day: t('select_a_day'),
                      month: t('select_a_month'),
                      year: t('select_a_year')
                    },
            start_year: Date.today.year - 100,
            end_year: Date.today.year + 1
          }, { class: 'form-control  mr-2 mb-2' }) %>

    </div>
  </div>

  <div class="form-group">
    <%= label_tag 'description' do %>
      <span class="text-danger">*</span>
      <%= t('.description') %>
    <% end %>
    <%= text_area_tag 'description', nil, size: '25x10', class: 'form-control', placeholder: t('.description_placeholder') %>
  </div>

  <fieldset>
    <legend class="mb-0">
      <span class="text-danger">*</span>
      <%= t('.community_and_collection') %>
    </legend>
    <small class="mb-3 form-text text-muted">
      <%= t('.community_and_collection_help_html') %>
    </small>
    <div class="form-group">
      <label><%= t('.community') %></label>
    <%= select_tag 'community',  options_from_collection_for_select(@communities, :id, :title), prompt: t('.community_placeholder'), class: 'form-control js-community-select' %>
    </div>
    <div class="form-group">
      <label><%= t('.collection') %></label>
    <%= select_tag 'collection',  nil, data: { placeholder: t('.collection_placeholder') }, class: 'form-control js-collection-select', disabled: true %>
    </div>
  </fieldset>

  <div id="js-additional-fields-accordion" role="tablist">
    <div class="card">
      <div class="card-header" role="tab" id="js-heading-additional-fields">
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#js-collapse-additional-fields" aria-expanded="false" aria-controls="js-collapse-additional-fields">
            <%= t('.additional_fields') %>
            <%= fa_icon "chevron-down", class: "js-more-less pull-right" %>
          </a>
        </h5>
      </div>

      <div id="js-collapse-additional-fields" class="collapse" role="tabpanel" aria-labelledby="js-heading-additional-fields" data-parent="#js-additional-fields-accordion">
        <div class="card-body">
          <div class="form-group">
            <%= label_tag 'contributor', t('.contributor') %>
            <%= select_tag 'contributor', nil, multiple: true, data: { tags: true, placeholder: t('.contributor_placeholder') }, class: 'form-control js-select2' %>
            <small class="form-text text-muted"><%= t('.contributor_help') %></small>
          </div>

          <div class="form-group">
            <%= label_tag 'place', t('.place') %>
            <%= select_tag 'place', nil, multiple: true, data: { tags: true, placeholder: t('.place_placeholder') }, class: 'form-control js-select2' %>
            <small class="form-text text-muted"><%= t('.place_help') %></small>
          </div>

          <div class="form-group">
            <%= label_tag 'time', t('.time') %>
            <%= select_tag 'time', nil, multiple: true, data: { tags: true, placeholder: t('.time_placeholder') }, class: 'form-control js-select2' %>
            <small class="form-text text-muted"><%= t('.time_help_html') %></small>
          </div>

          <div class="form-group">
            <%= label_tag 'citation', t('.citation') %>
            <%= select_tag 'citation', nil, multiple: true, data: { tags: true, placeholder: t('.citation_placeholder') }, class: 'form-control js-select2' %>
            <small class="form-text text-muted"><%= t('.citation_help') %></small>
          </div>

          <div class="form-group">
            <%= label_tag 'source', t('.source') %>
            <%= text_field_tag 'source', nil, class: 'form-control' %>
            <small class="form-text text-muted"><%= t('.source_help') %></small>
          </div>

          <div class="form-group">
            <%= label_tag 'related_item', t('.related_item') %>
            <%= text_field_tag 'related_item', nil, class: 'form-control' %>
            <small class="form-text text-muted"><%= t('.related_item_help') %></small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3 pull-right">
    <%= link_to root_path, class: 'btn btn-secondary' do %>
      <%= fa_icon 'ban' %>
      <%= t('cancel') %>
    <% end %>
    <%= button_tag type: :submit, class: 'btn btn-primary' do %>
      <%= t('deposit_item.save_and_continue') %>
      <%= fa_icon 'chevron-right' %>
    <% end %>
  </div>
<% end %>
