<% page_title( t('.header')) %>

<%= render partial: 'progress_bar' %>

<h2 class="mt-3"><%= t('.header') %></h2>


<form>
  <p class="text-muted"><%= t('required_fields_html') %></p>

  <div class="form-group">
    <%= label_tag 'title' do %>
      <span class="text-danger">*</span>
      <%= t('.title') %>
    <% end %>
    <%= text_field_tag 'title', nil, class: 'form-control', placeholder: t('.title_placeholder') %>  </div>

  <div class="form-group">
    <%= label_tag 'alternate_title', t('.alternate_title') %>
    <%= text_field_tag 'alternate_title', nil, class: 'form-control', placeholder: t('.alternate_title_placeholder') %>
    <small class="form-text text-muted"><%= t('.alternate_title_help') %></small>
  </div>

  <div class="form-group">
    <%= label_tag 'type_of_item' do %>
      <span class="text-danger">*</span>
      <%= t('.type_of_item') %>
    <% end %>
    <%= select_tag 'type_of_item',  raw('<option>EXAMPLE</option><option>EXAMPLE</option><option>EXAMPLE</option>'), class: 'form-control' %>
    <small class="form-text text-muted"><%= t('.type_of_item_help') %></small>
  </div>

  <div class="form-group">
    <%= label_tag 'language' do %>
      <span class="text-danger">*</span>
      <%= t('.language') %>
    <% end %>
    <%# TODO: Select 2 this input field %>
    <%= text_field_tag 'language', nil, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag 'creator' do %>
      <span class="text-danger">*</span>
      <%= t('.creator') %>
    <% end %>
    <%# TODO: Select 2 this input field %>
    <%= text_field_tag 'creator', nil, class: 'form-control' %>
    <small class="form-text text-muted"><%= t('.creator_help') %></small>
  </div>

  <div class="form-group">
    <%= label_tag 'subject' do %>
      <span class="text-danger">*</span>
      <%= t('.subject') %>
    <% end %>
    <%# TODO: Select 2 this input field %>
    <%= text_field_tag 'subject', nil, class: 'form-control' %>
    <small class="form-text text-muted"><%= t('.subject_help') %></small>
  </div>

  <div class="form-group">
    <%= label_tag 'date_created' do %>
      <span class="text-danger">*</span>
      <%= t('.date_created') %>
    <% end %>
    <div class="d-md-flex justify-content-between">
        <%= date_select('item', 'date_created',  {order: [:year, :month, :day],  prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }}, {class: 'form-control  mr-2 mb-2'}) %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag 'description' do %>
      <span class="text-danger">*</span>
      <%= t('.description') %>
    <% end %>
    <%= text_area_tag 'description', nil, size: '25x10', class: 'form-control', placeholder: t('.description_placeholder') %>
  </div>

  <fieldset>
    <legend class="mb-0">
      <span class="text-danger">*</span>
      <%= t('.community_and_collection') %>
    </legend>
    <small class="mb-3 form-text text-muted">
      <%= t('.community_and_collection_help') %>
    </small>
    <div class="form-group">
      <label><%= t('.community') %></label>
    <%= select_tag 'community',  raw('<option>EXAMPLE</option><option>EXAMPLE</option><option>EXAMPLE</option>'), class: 'form-control' %>
    </div>
    <div class="form-group">
      <label><%= t('.collection') %></label>
    <%= select_tag 'collection',  raw('<option>EXAMPLE</option><option>EXAMPLE</option><option>EXAMPLE</option>'), class: 'form-control' %>
    </div>
  </fieldset>

  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseAdditionalFields" aria-expanded="false" aria-controls="collapseAdditionalFields">
    <%= t('.additional_fields') %>
    <%= fa_icon 'chevron-down' %>
  </button>

  <div class="collapse mt-3" id="collapseAdditionalFields">

    <div class="form-group">
      <%= label_tag 'contributor', t('.contributor') %>
      <%# TODO: Select 2 this input field %>
      <%= text_field_tag 'contributor', nil, class: 'form-control' %>
      <small class="form-text text-muted"><%= t('.contributor_help') %></small>
    </div>

    <div class="form-group">
      <%= label_tag 'place', t('.place') %>
      <%# TODO: Select 2 this input field %>
      <%= text_field_tag 'place', nil, class: 'form-control' %>
      <small class="form-text text-muted"><%= t('.place_help') %></small>
    </div>

    <div class="form-group">
      <%= label_tag 'time', t('.time') %>
      <%# TODO: Select 2 this input field %>
      <%= text_field_tag 'time', nil, class: 'form-control' %>
      <small class="form-text text-muted"><%= t('.time_help_html') %></small>
    </div>

    <div class="form-group">
      <%= label_tag 'citation', t('.citation') %>
      <%# TODO: Select 2 this input field %>
      <%= text_field_tag 'citation', nil, class: 'form-control' %>
      <small class="form-text text-muted"><%= t('.citation_help') %></small>
    </div>

    <div class="form-group">
      <%= label_tag 'source', t('.source') %>
      <%= text_field_tag 'source', nil, class: 'form-control' %>
      <small class="form-text text-muted"><%= t('.source_help') %></small>
    </div>

    <div class="form-group">
      <%= label_tag 'related_item', t('.related_item') %>
      <%= text_field_tag 'related_item', nil, class: 'form-control' %>
      <small class="form-text text-muted"><%= t('.related_item_help') %></small>
    </div>

  </div>

  <div class="mt-5">
    <%= link_to 'Cancel', root_path, class: 'btn btn-secondary' %>
    <%= link_to 'Save and Continue', next_wizard_path, class: 'btn btn-primary' %>
  </div>
</form>


