<% page_title( t('.header')) %>

<%= render partial: 'progress_bar' %>

<h2 class="mt-3"><%= t('.header') %></h2>

<%# TODO: Need to figure out data model and migrate everything to use form_for and it's helpers
= form_for @item, url: wizard_path, method: :put, class:'js-deposit-item' do |f| %>
<%= form_tag wizard_path, method: :put, class:'js-deposit-item' do %>
  <p><%= t('.please_review_item') %></p>

  <%# should generalize item show page and rerender here and passing in object %>


  <p><%= t('.legal_disclaimer_html') %></p>

  <div class="mt-3 pull-right">
    <%= link_to previous_wizard_path, class: 'btn btn-secondary' do %>
      <%= fa_icon 'chevron-left' %>
      <%= t('deposit_item.previous') %>
    <% end %>
    <%= button_tag type: :submit, class: 'btn btn-primary' do %>
      <%= fa_icon 'save' %>
      <%= t('deposit_item.header') %>
    <% end %>
  </div>
<% end %>
