<% page_title( t('.header')) %>

<%= render partial: 'progress_bar' %>

<h2 class="mt-3"><%= t('.header') %></h2>

<%# TODO: Need to figure out data model and migrate everything to use form_for and it's helpers
= form_for @item, url: wizard_path, method: :put, class:'js-deposit-item' do |f| %>
<%= form_tag wizard_path,
             method: :put,
             multipart: true,
             class:'js-deposit-item js-dropzone' do %>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary js-add-files">
        <%= fa_icon 'paperclip' %>
        <%= t('.attach_files') %>
      </button>
      <button type="button" class="btn btn-secondary js-cancel-files">
        <%= fa_icon 'times' %>
        <%= t('.remove_files') %>
      </button>
    </div>
  </div>


  <ul class="list-unstyled" id="js-previews">
    <li id="js-template" class="media my-3 p-3 border">
      <img data-dz-thumbnail class="mr-3">
      <div class="media-body">
        <div class="pull-right">
          <button type="button" data-dz-remove class="btn btn-secondary">
              <%= fa_icon 'times' %>
              <%= t('remove') %>
          </button>
        </div>
        <h5 data-dz-name></h5>
        <strong class="text-danger" data-dz-errormessage></strong>
        <p data-dz-size></p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
               data-dz-uploadprogress
               style="width: 0%"
               role="progressbar"
               aria-valuenow="0"
               aria-valuemin="0"
               aria-valuemax="100"></div>
        </div>
      </div>
    </li>
  </ul>

  <div class="row">
    <div class="col">
      <h5> <%= t('.drag_and_drop_files') %></h5>
      <p> <%= t('.thumbnail_of_first_file') %></p>
    </div>
  </div>

  <div class="mt-3 pull-right">
    <%= link_to previous_wizard_path, class: 'btn btn-secondary' do %>
      <%= fa_icon 'chevron-left' %>
      <%= t('deposit_item.previous') %>
    <% end %>
    <%= button_tag type: :submit, class: 'btn btn-primary' do %>
      <%= t('deposit_item.save_and_continue') %>
      <%= fa_icon 'chevron-right' %>
    <% end %>
  </div>
<% end %>
