<div class='admin-dashboard'>
  <h1><%= t('admin.header') %></h1>

  <hr/>

  <h2 class="mb-3">Versions</h2>
  <div class="row">
    <div class="col-md-4">
      <p>
        Jupiter
        <span class="badge badge-primary">
          0.0.1
          <%# TODO: Add version file in jupiter %>
          <%#= Jupiter::VERSION %>
        </span>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        Ruby
        <span class="badge badge-primary">
          <%= "#{RUBY_VERSION}p#{RUBY_PATCHLEVEL}" %>
        </span>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        Rails
        <span class="badge badge-primary">
          <%= "#{Rails::VERSION::STRING}" %>
        </span>
      </p>
    </div>
    </div>
  </div>

  <hr/>

  <h2 class="mb-3">Statistics</h2>
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">Works</h4>
        <div class="data">
          <%= link_to '#todo', class: 'card-link' do %>
          <%#= admin_works_path do %>
              <%= number_with_delimiter(Work.count) %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">Users</h4>
          <%= link_to admin_users_path,  class: 'card-link' do %>
              <%= number_with_delimiter(User.count) %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">Communities</h4>
            <%= link_to '#todo', class: 'card-link' do %>
            <%#= link_to admin_communities_path do %>
                <%= number_with_delimiter(Community.count) %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">Collections</h4>
          <%= link_to '#todo', class: 'card-link' do %>
          <%#= link_to admin_collections_path do %>
              <%= number_with_delimiter(Collection.count) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <h2 class="mb-3">Recent Activity</h2>
  <div class="row">
    <div class="col-md-6">
      <h4>Latest works</h4>
      <ul class="list-group">
        <% @works.each do |work| %>
          <li class="list-group-item  list-group-item-action d-flex justify-content-between">
            <%#= link_to [:admin, work] %>
            <%= work.title %>
            <%# end %>
            <span class="badge badge-secondary">
              <%= time_ago_in_words(work.date_created) %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6">
      <h4>Latest users</h4>
      <div class="list-group">
        <% @users.each do |user| %>
          <%= link_to [:admin, user], class: "list-group-item list-group-item-action d-flex justify-content-between" do %>
            <%= user.name %>
            <span class="badge badge-secondary">
              <%# should be last_sign_in_at instead %>
              <%= time_ago_in_words(user.updated_at) %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
