= simple_form_for work, html: {multipart: true} do |f|
  - work.display_attributes.each do |prop, _|
    = f.input prop

  = f.input :community,
            as: :unread_select,
            collection: Community.all,
            label_method: :title,
            value_method: :id,
            input_html: {name: 'work[community][]'}

  = f.input :collection,
            as: :unread_select,
            disabled: true,
            collection: [],
            input_html: {name: 'work[collection][]'}

  .file_upload
    .row
      .col-6
        = f.input :file, as: :file, label: 'File: ', input_html: {name: 'work[file][]'}
      .col-6
        = link_to 'Add another file', '#', class: 'btn btn-secondary add-file'

  = f.button :submit
