- if @results.count > 0
	%h2.mt-3 Found #{@results.count} results
	.row.mt-3
		.col-sm-2
			Refine your search
			- @results.each_facet_with_results do |facet|
				.row.mt-3
					.col-sm-1
						= facet.name
					.col-md-11
						- facet.each_facet_value do |name, count|
							.row
								.col
									#{link_to name, ''}, #{count}
 
		.col-md-10
			- @results.results.each do |result|
				.row
					.col
						= link_to result.title, work_path(result.id)
- else
	%h2.mt-3 No results found