<%= image_tag 'campus-banner.jpg', class: 'img-fluid w-100', alt: 'banner image' %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t('.welcome_header') %></h1>
    <p class="lead">
      <%= t('.welcome_lead_one')%>
    </p>
    <p class="lead">
      <%= t('.welcome_lead_two')%>
    </p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="mb-3 col-md-12 text-center">
      <%= link_to "https://era-av.libary.ualberta.ca", class: 'btn btn-jupiter-primary' do %>
        <p class="lead mb-0">
          <%= fa_icon 'play-circle' %>
          <%= t('.era_av_header') %>
        </p>
        <p class="small mb-0">
          <%= t('.era_av_text') %>
        </p>
      <% end %>
    </div>
  </div>

  <div class='d-flex flex-wrap align-items-center justify-content-between my-3'>
    <h2>
      <%= t('.explore_collections') %>
    </h2>

    <%= link_to t('view_more'), communities_path, class: "btn btn-secondary", 'aria-label' => " Check out more of ERA's communities and collections" %>
  </div>

    <%# Collection images, shown only on larger screens %>
  <div class="d-none d-md-block">
    <div class="d-flex flex-row">
      <div class="j-image-with-text mx-3 col-md-3">
        <%= link_to '#TODO' do %>
          <%= image_tag 'dept-of-agriculture.jpg', alt: t('.afns_collection'),
              class: 'agriculture' %>
          <h3 class="small font-weight-bold"><%= t('.afns_collection') %></h3>
        <% end %>
      </div>

      <div class="d-flex flex-column align-items-end">

        <div class="d-flex flex-row mb-3">
          <div class="j-image-with-text mr-3">
            <%= link_to '#TODO' do %>
              <%= image_tag 'images-of-research.jpg', alt: t('.images_of_research_collection'),
                  title: t('.images_of_research_attribution') %>
              <h3 class="small font-weight-bold"><%= t('.images_of_research_collection') %></h3>
            <% end %>
          </div>

          <div class="j-image-with-text">
            <%= link_to '#TODO' do %>
              <%= image_tag 'theses.jpg', alt: t('.theses_collection') %>
              <h3 class="small font-weight-bold"><%= t('.theses_collection') %></h3>
            <% end %>
          </div>

        </div>

        <div class="j-image-with-text mt-auto">
          <%= link_to '#TODO' do %>
            <%= image_tag 'oil-sands.jpg', alt: t('.osrin_collection'),
                title: t('.osrin_attribution') %>
            <h3 class="small font-weight-bold"><%= t('.osrin_collection') %></h3>
          <% end %>
        </div>

      </div>
    </div>
  </div>

  <%# List of collection links, shown only on smaller screens %>
  <div class="d-md-none j-collection-links">
    <div class="media mb-3">
      <div class="media-body">
        <%= link_to t('.images_of_research_collection'), '#TODO',
            class: 'btn btn-jupiter-primary btn-block' %>
      </div>
    </div>
    <div class="media mb-3">
      <div class="media-body">
        <%= link_to t('.images_of_research_collection'), '#TODO',
            class: 'btn btn-jupiter-primary btn-block' %>
      </div>
    </div>
    <div class="media mb-3">
      <div class="media-body">
        <%= link_to t('.theses_collection'), '#TODO', class: 'btn btn-jupiter-primary btn-block' %>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <%= link_to t('.afns_collection'), '#TODO', class: 'd-inline-block btn btn-jupiter-primary btn-block' %>
      </div>
    </div>
  </div>
</div>
