<div>
  <%# Two columns on large screens, wrap on smaller screens %>
  <div class="d-flex flex-row flex-wrap">
    <div class="col-12 col-md-5 px-3">
      <h4><%= t('.welcome_header') %></h4>
    </div>
    <div class="align-self-center px-3 col-12 col-md-7">
      <%= link_to "https://era-av.libary.ualberta.ca", class: 'btn btn-jupiter-primary' do %>
        <p class="mb-0 lead">
          <%= fa_icon 'play-circle' %>
          <%= t('.era_av_header') %>
        </p>
        <%# ERA-AV additional text not shown on smaller screens %>
        <p class="d-none d-md-block small">
          <%= t('.era_av_text') %>
        </p>
        <% end %>
    </div>
  </div>

  <p class="mx-3 mt-3 mb-1 lead">
    <%= t('.explore_collections') %>
  </p>

  <%# Collection images, shown only on larger screens %>
  <div class="d-none d-md-block">
    <div class="d-flex flex-row">
      <div class="image-with-text mx-3 col-md-3">
        <%= link_to '#TODO' do %>
          <%= image_tag 'dept-of-agriculture.jpg', alt: t('.afns_collection'),
              class: 'agriculture' %>
          <p class="small"><%= t('.afns_collection') %></p>
        <% end %>
      </div>

      <div class="d-flex flex-column align-items-end">

        <div class="d-flex flex-row mb-3">
          <div class="image-with-text mr-3">
            <%= link_to '#TODO' do %>
              <%= image_tag 'images-of-research.jpg', alt: t('.images_of_research_collection'),
                  title: t('.images_of_research_attribution') %>
              <p class="small"><%= t('.images_of_research_collection') %></p>
            <% end %>
          </div>

          <div class="image-with-text">
            <%= link_to '#TODO' do %>
              <%= image_tag 'theses.jpg', alt: t('.theses_collection') %>
              <p class="small"><%= t('.theses_collection') %></p>
            <% end %>
          </div>

        </div>

      <div class="image-with-text mt-auto">
        <%= link_to '#TODO' do %>
          <%= image_tag 'oil-sands.jpg', alt: t('.osrin_collection'),
              title: t('.osrin_attribution') %>
          <p class="small"><%= t('.osrin_collection') %></p>
        <% end %>
      </div>

      </div>
    </div>
  </div>

  <%# List of collection links, shown only on smaller screens %>
  <div class="d-md-none m-3 w-100">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action">
        <%= link_to t('.osrin_collection'), '#TODO' %>
      </li>
      <li class="list-group-item list-group-item-action">
        <%= link_to t('.images_of_research_collection'), '#TODO' %>
      </li>
      <li class="list-group-item list-group-item-action">
        <%= link_to t('.theses_collection'), '#TODO' %>
      </li>
      <li class="list-group-item list-group-item-action">
        <%= link_to t('.afns_collection'), '#TODO' %>
      </li>
    </ul>
  </div>

</div>
