<p id="notice"><%= notice %></p>

<p>
  <strong>Publication code:</strong>
  <%= @digitization_newspaper.publication_code %>
</p>

<p>
  <strong>Year:</strong>
  <%= @digitization_newspaper.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @digitization_newspaper.month %>
</p>

<p>
  <strong>Day:</strong>
  <%= @digitization_newspaper.day %>
</p>

<%= link_to 'Back', digitization_newspapers_path %>
