<% page_title(t('.header')) %>

<h1><%= t('.header') %></h1>

<%= simple_form_for [:admin, @new_announcement] do |f| %>
  <fieldset>
    <legend><%= t('.post_new_announcement')%></legend>

    <%= f.input :message %>
    <%= f.button :submit, t('.new_button_text'), class: 'float-right' %>
  </fieldset>
<% end %>

<h2 class="mt-5"><%= t('.current_announcements') %></h5>

<ul class="list-group">
  <% unless current_announcements.present? %>
    <li class="list-group-item"><%= t('.no_current_announcements') %></li>
  <% end %>

  <% current_announcements.each do |announcement| %>
    <li class="list-group-item">
      <div class="d-flex justify-content-between align-items-start">
        <h4><%= announcement.message %></h4>
        <%= button_to t('remove'),
                      admin_announcement_path(announcement),
                      method: :delete,
                      class: 'btn btn-danger',
                      data: {confirm: t('.are_you_sure_you_want_to_remove')} %>
      </div>
      <p class="badge badge-secondary"><%= t('.posted', created_at: jupiter_time_ago_in_words(announcement.created_at)) %></p>
    </li>
  <% end %>
</ul>

<h2 class="mt-5"><%= t('.past_announcements') %></h2>

<table class="table table-responsive-md table-hover">
  <thead>
    <tr>
      <th><%= t('.messsage') %></th>
      <th><%= t('.posted_at') %></th>
      <th><%= t('.removed_at') %></th>
    </tr>
  </thead>
  <tbody>
      <% if past_announcements.present? %>
        <% past_announcements.each do |announcement| %>
          <tr>
            <td><%= announcement.message %></td>
            <td><%= jupiter_time_tag(announcement.created_at) %></td>
            <td><%= jupiter_time_ago_in_words(announcement.removed_at) %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3" class="text-center">
            <%= t('.no_past_announcements') %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
