<% page_title(t('.header')) %>

<h1><%= t('.header') %></h1>
  <%= simple_form_for [:admin, @new_announcement] do |f| %>
    <%= f.input :message %>
    <%= f.button :submit, t('.new_button_text') %>
  <% end %>

  <h2 class="mt-5"><%= t('.current_announcements') %></h5>

  <ul class="list-group">
    <% unless current_announcements.present? %>
      <li class="list-group-item"><%= t('.no_current_announcements') %></li>
    <% end %>

    <% current_announcements.each do |announcement| %>
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-start">
          <h4><%= announcement.message %></h4>
          <%= button_to t('remove'),
                        admin_announcement_path(announcement),
                        method: :delete,
                        class: 'btn btn-danger',
                        data: {confirm: t('.are_you_sure_you_want_to_remove')} %>
        </div>
        <p><em><%= t('.posted_at', created_at: announcement.created_at) %></em></p>
      </li>
    <% end %>
  </ul>

  <h2 class="mt-5"><%= t('.past_announcements') %></h2>

  <ul class="list-group">
    <% unless past_announcements.present? %>
      <li class="list-group-item"><%= t('.no_past_announcements') %></li>
    <% end %>

    <% past_announcements.each do |announcement| %>
      <li class="list-group-item">
        <h4><%= announcement.message %></h4>

        <p><em><%= t('.posted_at', created_at: announcement.created_at) %></em></p>
        <p><em><%= t('.removed_at', removed_at: announcement.removed_at) %></em></p>
      </li>
    <% end %>
  </ul>
