<%= simple_form_for [:admin, @community] do |f| %>
  <div class="form-group">
    <%= render partial: 'logo', locals: {object: @community} %>

    <%= f.input :logo, as: :file, label: false, wrapper_html: { class: 'mt-3' } %>

    <% if @community.logo.attached? %>
      <%= f.input :remove_logo, as: :boolean, checked_value: true, unchecked_value: false %>
    <% end %>

    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.button :submit %>
  </div>
<% end %>
