<%= simple_form_for [:admin, @community] do |f| %>
  <div class="form-group">
    <%= render partial: 'thumbnail', locals: { thumbnail: @community.logo.attachment, object: @community } %>

    <%= f.input :logo, as: :file, label: false, wrapper_html: { class: 'mt-3' } %>

    <% if @community.logo.attached? %>
      <%= f.input :remove_logo, as: :boolean, checked_value: true, unchecked_value: false %>
    <% end %>

    <%= f.input :title %>
    <%= f.input :description, as: :text %>

    <%= f.button :submit, class: 'float-right ml-2' %>

    <% if @community.persisted? %>
      <%= link_to t('cancel'), [:admin, @community], class: 'btn btn-secondary float-right' %>
    <% else %>
      <%= link_to t('cancel'), admin_communities_path, class: 'btn btn-secondary float-right' %>
    <% end %>

  </div>
<% end %>
