<% page_title(t('.header')) %>

<div class="d-flex flex-wrap justify-content-between align-items-start mt-3">
  <h1><%= t('.header') %></h1>

  <%= link_to t('communities.index.create_community'), new_admin_community_path,
    class: 'btn btn-primary' %>
</div>

<form>
  <div class="form-group">
    <label class="mr-sm-2" for="query"><%= t('search_label') %></label>
    <%= search_field_tag :query,
        params[:query],
        placeholder: t('.search_placeholder'),
        class: 'form-control' %>
  </div>
</form>

<div class="my-4" >
  <div class="d-flex flex-wrap justify-content-between align-items-start mt-3">
    <h2><%= t('.browse_all') %></h2>

    <%# TODO: Sort dropdown goes here %>
  </div>

  <ul id="admin-collection-list" class="list-group">

    <% @communities.each do |community| %>
      <li class="list-group-item list-group-item-action">

        <div class="d-flex justify-content-between align-items-start mb-3">
          <%= link_to admin_community_path(community), class: 'media jupiter-community-media' do %>
            <%= render partial: 'logo', locals: {object: community} %>
            <div class="media-body">
              <h4 class="mt-0"><%= community.title %></h4>
              <p class="text-muted"><%= community.description %></p>
            </div>
          <% end %>

          <div class="btn-group" role="group" aria-label="Community Actions">
            <%= link_to edit_admin_community_path(community), class:'btn btn-outline-secondary' do %>
              <%= fa_icon('pencil-square-o') %>
              <%= t('edit') %>
            <% end %>

            <%= link_to admin_community_path(community), class: 'btn btn-outline-secondary', method: :delete, data: {confirm: t('.delete_confirm', title: community.title) } do %>
             <%= fa_icon('trash') %>
             <%= t('delete') %>
            <% end %>
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-start mb-3">
          <%= link_to admin_community_path(community), data: {community_id: community.id }, class: 'btn btn-outline-primary js-collection-btn', remote: true do %>
            <%= t('collections.title') %>
            <%= fa_icon('chevron-down') %>
          <% end %>

          <%= button_tag type: 'button', class: 'btn btn-outline-primary d-none js-close-btn', data: {community_id: community.id } do %>
            <%= t('close') %>
            <%= fa_icon('chevron-up') %>
          <% end %>

          <%= link_to new_admin_community_collection_path(community),
                      class:'btn btn-outline-primary' do %>
            <%= fa_icon('plus-circle') %>
            <%= t('communities.show.create_collection') %>
          <% end %>
        </div>

        <ul class="list-group" id="<%=community.id%>"></ul>

      </li>
    <% end %>
  </ul>
  <%= paginate @communities %>

  <h5> TODO: Hey check out some facets</h5>
  <% @communities.each_facet_with_results do |facet| %>
    <div class="row mt-3">
        <%= facet.name %>
      <div class="col">
        <% facet.each_facet_value do |presentation_value, raw_value, count| %>
          <div class="row">
            <div class="col">
              <%= link_to presentation_value, admin_communities_path(facetable_query_params(facet.facet_name, raw_value)) %>, <%= count %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
