<div class="mb-3">
  <div class="d-flex justify-content-center">
    <%= render partial: 'feature_image', locals: { object: @item } %>
  </div>

  <% if policy(@item).download? %>
    <% if @item.files.count == 1 %>
      <% file = @item.files.first %>
      <% if file.present? && file.fileset_uuid.present? %>
        <div class="d-flex justify-content-center mt-3">
          <div class="p-1">
            <%= link_to(t('.view'),
                        file_view_item_url(id: file.record.id,
                                           file_set_id: file.fileset_uuid,
                                           file_name: file.filename.to_s),
                        class: 'btn btn-outline-primary',
                        rel: 'noopener noreferrer',
                        target: :_blank) %>
          </div>
          <div class="p-1">
            <%= link_to(t('.download'),
                        file_download_item_url(id: file.record.id,
                                               file_set_id: file.fileset_uuid),
                        class: 'btn btn-outline-primary',
                        rel: 'nofollow',
                        download: file.filename) %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="card mt-3">
        <div class="card-header"><%= t('.header') %></div>
        <div class="card-body p-2">
          <div class="list-group item-files">
            <% @item.files.each do |file| %>
              <div class="list-group-item list-group-item-action d-flex flex-column">
                <div class="item-filename text-center pb-3"><%= file.filename %></div>
                <% if file.fileset_uuid.present? %>
                  <div class="d-flex justify-content-center">
                    <div class="p-1">
                      <%= link_to(t('.view'),
                                  file_view_item_url(id: file.record.id,
                                                     file_set_id: file.fileset_uuid,
                                                     file_name: file.filename.to_s),
                                  class: 'btn btn-outline-primary',
                                  rel: 'noopener noreferrer',
                                  target: :_blank) %>
                    </div>
                    <div class="p-1">
                      <%= link_to(t('.download'),
                                  file_download_item_url(id: file.record.id,
                                                         file_set_id: file.fileset_uuid),
                                  class: 'js-download btn btn-outline-primary',
                                  rel: 'nofollow',
                                  download: file.filename) %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="pt-2">
            <% unless @item.files.any? {|file| file.fileset_uuid.blank?} %>
              <button type="button" class="js-download-all btn btn-outline-primary float-right">
                <%= t('.download_all') %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col text-center mt-3">
      <p><%= t('.ccid_restricted_item') %></p>
      <%= link_to t('.login_with_ccid_to_view'), '/auth/saml', class: 'btn btn-block btn-outline-primary', method: :post %>
    </div>
  <% end %>
</div>
