<%= simple_form_for item, html: {multipart: true} do |f| %>
  <% item.display_attributes.each do |prop, _| %>
    <% next if ['visibility', 'owner', 'record_created_at', 'doi', 'embargo_end_date'].include? prop %>
    <%= f.input prop %>
  <% end %>
  <%= f.input :visibility,
    as: :unread_select,
    collection: Item::VISIBILITIES,
    selected: item.visibility,
    input_html: { name: 'item[visibility]' }
  %>
  <div class="communities-collections card p-3 mb-3">
    <div class="card-block">
      <h3 class="card-title">
        <span class='required'>*</span>
        <span><%= t('admin.communities.title') %></span>
        <span class='tooltip'>?</span>
      </h3>

      <div class="communities-collections-list">
        <% if @item.member_of_paths.any? %>
          <% @item.member_of_paths.each do |path| %>
            <% community_id, collection_id = path.split('/') %>
            <% collections = Collection.where(community_id: community_id) %>
            <%= render partial: 'community_collection_input',
                locals: { f: f, community_id: community_id, collection_id: collection_id, collections: collections } %>
          <% end %>
        <% else %>
          <%= render partial: 'community_collection_input', locals: { f: f } %>
        <% end %>
      </div>

      <div class="d-flex flex-row-reverse">
        <div class="p-3">
          <%= link_to t(:add_another), '#', class: 'btn btn-secondary add-community-collection' %>
        </div>
      </div>

    </div>
  </div>
  <div class="file_upload">
    <div class="row">
      <div class="col-6">
        <%= f.input :file,
          as: :file,
          label: t('items.file_label'),
          input_html: {name: 'item[file][]'}
        %>
      </div>
      <div class="col-6">
        <%= link_to t('items.add_another_file'),
          '#',
          class: 'btn btn-secondary add-file'
        %>
      </div>
    </div>
  </div>
  <%= f.button :submit %>
<% end %>
