<%= simple_form_for item, html: {multipart: true} do |f| %>
  <% item.display_attributes.each do |prop, _| %>
    <% next if ['visibility', 'owner', 'record_created_at', 'doi', 'embargo_end_date'].include? prop %>
    <% if ['creator', 'contributor'].include? prop %>
      <%# Multi-valued, handle it the easy way for now %>
      <%= f.input prop, input_html: { multiple: true } %>
    <% else %>
      <%= f.input prop %>
    <% end %>
  <% end %>
  <%= f.input :visibility,
    as: :unread_select,
    collection: Item::VISIBILITIES,
    selected: item.visibility,
    input_html: { name: 'item[visibility]' }
  %>

  <div class="communities-collections card p-3 mb-3">
    <div class="card-block">
      <%= f.label :member_of_paths, label: t('communities.title'),
          class: 'card-title', required: true %>
      <%= help_tooltip(t('.community_collection_tooltip')) %>
      <%= f.error(:member_of_paths) %>
      <div class="communities-collections-list">
        <% if @item_communities.any? %>
          <% @item_communities.each_with_index do |community, index| %>
            <%= render partial: 'community_collection_input',
                locals: { f: f, community_id: community.id, collection_id: @item_collections[index].id,
                collections: @collection_choices[index] } %>
          <% end %>
        <% else %>
          <%= render partial: 'community_collection_input',
              locals: { f: f, community_id: nil, collection_id: nil, collections: [] } %>
        <% end %>
      </div>
      <div class="d-flex flex-row-reverse">
        <div class="p-3">
          <%= link_to "#{fa_icon('plus')} #{t(:add_another)}".html_safe,
              '#', class: 'btn btn-secondary add-community-collection' %>
        </div>
      </div>
    </div>
  </div>

  <div class="file_upload">
    <div class="row">
      <div class="col-6">
        <%= f.input :file,
          as: :file,
          label: t('items.file_label'),
          input_html: {name: 'item[file][]'}
        %>
      </div>
      <div class="col-6">
        <%= link_to t('items.add_another_file'),
          '#',
          class: 'btn btn-secondary add-file'
        %>
      </div>
    </div>
  </div>
  <%= f.button :submit %>
<% end %>
