<ul class="list-group">
  <%= render partial: 'application/show_metadata/title' %>

  <% if @item.creators.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('.creators') %></dt>
        <dd>
          <ul class="list-unstyled">
            <% @item.creators.each do |creator| %>
              <li><%= search_link_for(@item, :all_contributors, value: creator) %></li>
            <% end %>
          </ul>
        </dd>
      </dl>
    </li>
  <% end %>

  <% if @item.description.present? %>
    <li class="list-unstyled list-group-item-action">
      <p title="<%= t('.description') %>"><%= @item.description %></p>
    </li>
  <% end %>

  <% if @item.creation_date.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('.created') %></dt>
        <% if @item.sort_year.present? %>
          <%# Display the recorded date created, but link to searching on the facetable sort year if it is present %>
          <dd><%= search_link_for(@item, :sort_year, display: humanize_date(@item.creation_date), facet: :range_facet) %></dd>
        <% else %>
          <dd><%= humanize_date(@item.creation_date) %></dd>
        <% end %>
      </dl>
    </li>
  <% end %>

  <%= render partial: 'application/show_metadata/subject' %>

  <%= render partial: 'application/show_metadata/item_type_with_status' %>

  <%= render partial: 'application/show_metadata/doi' %>

  <%= render partial: 'application/show_metadata/license' %>
</ul>

<%= render partial: 'application/show_metadata/additional_information' %>

<div class="collapse" id='more-information-hidden'>
  <%= render partial: 'item_more_information' %>
</div>

<%= render partial: 'edit_history' %>
