<ul class="list-group">
  <% if @item.languages.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('items.show.language') %></dt>
        <dd>
          <ul class="list-unstyled">
            <% @item.languages.each do |language| %>
              <li><%= language_search_link(@item, language) %></li>
            <% end %>
          </ul>
        </dd>
      </dl>
    </li>
  <% end %>

  <% if @item.contributors.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('items.item.contributors') %></dt>
        <dd>
          <ul class="list-unstyled">
            <% @item.contributors.each do |contributor| %>
              <li><%= search_link_for(@item, :all_contributors, value: contributor) %></li>
            <% end %>
          </ul>
        </dd>
      </dl>
    </li>
  <% end %>

  <% if @item.is_version_of.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('items.show.is_version_of') %></dt>
        <dd>
          <ul class="list-unstyled">
            <% @item.is_version_of.each do |thing| %>
              <li><%= thing %></li>
            <% end %>
          </ul>
        </dd>
      </dl>
    </li>
  <% end %>

  <% if @item.source.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('items.item.source') %></dt>
        <dd><%= @item.source %></dd>
      </dl>
    </li>
  <% end %>

  <% if @item.related_link.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('items.item.related_link') %></dt>
        <dd><%= link_to @item.related_link, @item.related_link %></dd>
      </dl>
    </li>
  <% end %>
</ul>
