
<ul class="list-group">
  <%= render partial: 'application/show_metadata/title' %>

  <li class="list-unstyled list-group-item-action">
    <dl>
      <dt><%= t('.dissertant') %></dt>
      <dd><%= search_link_for(@item, :all_contributors, value: @item.dissertant) %></dd>
    </dl>
  </li>

  <% if @item.abstract.present? %>
    <li class="list-unstyled list-group-item-action">
      <p title="<%= t('.abstract') %>"><%= @item.abstract %></p>
    </li>
  <% end %>

  <%= render partial: 'application/show_metadata/subject' %>

  <% if @item.graduation_date.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('.graduation_date') %></dt>
        <dd><%= humanize_date(@item.graduation_date) %></dd>
      </dl>
    </li>
  <% end %>

  <%= render partial: 'application/show_metadata/item_type_with_status' %>

  <% if @item.degree.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('.degree') %></dt>
        <dd><%= @item.degree %></dd>
      </dl>
    </li>
  <% end %>

  <%= render partial: 'application/show_metadata/doi' %>

  <%= render partial: 'application/show_metadata/license' %>
</ul>

<%= render partial: 'application/show_metadata/additional_information' %>

<div class="collapse" id='more-information-hidden'>
  <%= render partial: 'thesis_more_information' %>
</div>

<%= render partial: 'edit_history' %>
