<ul class="list-group">
  <% if @item.alternative_title.present? %>
    <li class="list-unstyled list-group-item-action">
      <p title="<%= t('items.show.alternative_title') %>"><%= @item.alternative_title %></p>
    </li>
  <% end %>

  <li class="list-unstyled list-group-item-action">
    <dl>
      <dt><%= t('.dissertant') %></dt>
      <dd><%= search_link_for(@item, :all_contributors, value: @item.dissertant) %></dd>
    </dl>
  </li>

  <% if @item.abstract.present? %>
    <li class="list-unstyled list-group-item-action">
      <p title="<%= t('.abstract') %>"><%= @item.abstract %></p>
    </li>
  <% end %>

  <% if @item.subject.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('items.show.subject') %></dt>
        <dd>
          <ul class="list-unstyled">
            <% @item.subject.each do |subject| %>
              <li><%= search_link_for(@item, :all_subjects, value: subject) %></li>
            <% end %>
          </ul>
        </dd>
      </dl>
    </li>
  <% end %>

  <% if @item.graduation_date.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('.graduation_date') %></dt>
        <dd><%= humanize_date(@item.graduation_date) %></dd>
      </dl>
    </li>
  <% end %>

  <li class="list-unstyled list-group-item-action">
    <dl>
      <dt><%= t('items.show.item_type_with_status') %></dt>
      <dd><%= item_type_search_link(@item) %></dd>
    </dl>
  </li>

  <% if @item.degree.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('.degree') %></dt>
        <dd><%= @item.degree %></dd>
      </dl>
    </li>
  <% end %>

  <% if @item.doi.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('items.show.doi_url') %></dt>
        <dd><%= link_to @item.doi_url, @item.doi_url %></dd>
      </dl>
    </li>
  <% end %>

  <% if @item.rights.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('items.show.license') %></dt>
        <dd><%= @item.rights %></dd>
      </dl>
    </li>
  <% end %>
</ul>

<%# ADDITIONAL INFORMATION %>
<button type="button"
        data-toggle="collapse"
        data-target="#more-information-hidden"
        aria-expanded="false"
        aria-controls="more-information-hidden"
        class="btn btn-outline-secondary mb-3 js-more-information-btn font-italic">
    <span class="js-more-information-hidden">
      <%= t(:more_information) %>
      <%= icon('fas', 'chevron-down') %>
    </span>

    <span class="d-none js-more-information-shown">
      <%= t(:show_less) %>
      <%= icon('fas', 'chevron-up')%>
    </span>
</button>

<div class="collapse" id='more-information-hidden'>
  <%= render partial: 'thesis_more_information' %>
</div>

<%= render partial: 'edit_history' %>
