<% page_title( t('.header')) %>

<% if @results.count > 0 %>
  <h1 class="mt-3"><%= t('.found_results', count: @results.total_count) %></h1>
  <div class="row mt-3">
    <div class="col-sm-2">
      <%= t('.refine_your_search') %>
      <% @results.each_facet_with_results do |facet| %>
        <div class="row mt-3">
          <div class="col-sm-1">
            <%= facet.name %>
          </div>
          <div class="col-md-11">
            <% facet.each_facet_value do |presentation_value, raw_value, count| %>
              <div class="row">
                <div class="col">
                  <%= link_to presentation_value, search_items_path(facetable_query_params(facet.facet_name, raw_value)) %>, <%= count %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-10">
      <% @results.each do |result| %>
        <div class="row">
          <div class="col">
            <%= link_to result.title, path_for_result(result) %>
          </div>
        </div>
      <% end %>
      <%= paginate @results %>
    </div>
  </div>
<% else %>
  <h1 class="mt-3"><%= t('.no_results_found') %></h1>
<% end %>
