<div class="js-community-collection">
  <div class="form-group">
    <%= label_tag 'draft_thesis[community_id][]' do %>
      <span class="text-danger font-weight-bold">*</span>
      <%= t('.community') %>
    <% end %>

    <%= select_tag 'draft_thesis[community_id][]',
                    options_for_select(
                      Collection.where(restricted: true).sort(:title, :asc)
                                .map { |collection| [collection.community.title, collection.community.id] }
                                .uniq,
                      community.present? ? community.id : nil ),
                    prompt: t('.community_placeholder'),
                    class: 'form-control js-community-select' %>
  </div>
  <div class="form-group">
    <%= label_tag 'draft_thesis[collection_id][]' do %>
      <span class="text-danger font-weight-bold">*</span>
      <%= t('.collection') %>
    <% end %>

    <% if community.present? %>
          <%= select_tag 'draft_thesis[collection_id][]',
                         options_from_collection_for_select(
                           community.member_collections,
                           :id,
                           :title,
                           collection.present? ? collection.id : nil),
                         prompt: t('.collection_placeholder'),
                         data: { placeholder: t('.collection_placeholder')},
                         class: 'form-control js-collection-select' %>
    <% else %>
      <%= select_tag 'draft_thesis[collection_id][]',
                      nil,
                      data: { placeholder: t('.collection_placeholder')},
                      class: 'form-control js-collection-select',
                      disabled: true %>
    <% end %>
  </div>
</div>
