<% page_title(header) %>
<section>
  <h1 class="mb-3"><%= header %></h1>

  <nav class="navigator mb-3">
    <ul class="nav nav-pills nav-fill">
      <% wizard_steps.each do |wizard_step| %>
        <li class="nav-item">
          <%= link_to wizard_path(wizard_step),
                      class: "nav-link border rounded-0 #{progress_bar_step_class(wizard_step, @draft_thesis)}" do %>
            <p class="font-weight-bold mb-0"><%= t('admin.theses.draft.step_number', step_number: step_index(wizard_step)) %></p>
            <%= fa_icon t("admin.theses.draft.#{wizard_step}.header_icon") %>
            <%= t("admin.theses.draft.#{wizard_step}.header") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
  <div class="progress">
    <%= content_tag :div,
                    progress_bar_text,
                    class: "progress-bar w-#{progress_bar_percentage}",
                    role: "progressbar",
                    'aria-valuenow' => progress_bar_percentage,
                    'aria-valuemin' => "0",
                    'aria-valuemax' => "100" %>
  </div>
</section>
