<p class="text-center"><%= t('.display_users_count', shown_users_count: @users.count,
                           matching_users_count: @users.total_count, total_users_count: User.count) %></p>

<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="table table-responsive table-bordered">
  <thead>
    <tr>
      <th><%= sortable 'email', t('admin.users.email') %></th>
      <th><%= sortable 'name', t('admin.users.name') %></th>
      <th><%= sortable 'created_at', t('admin.users.created') %></th>
      <th><%= sortable 'updated_at', t('admin.users.updated') %></th>
      <th><%= sortable 'admin', t('admin.users.role') %></th>
      <th><%= sortable 'suspended', t('admin.users.status') %></th>
    </tr>
  </thead>
  <tbody>
  <% if @users.present? %>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= link_to user.email, admin_user_path(user) %></th>
        <td><%= user.name %></td>
        <td><%= time_tag user.created_at, format: '%F' %></td>
        <td><%= time_tag user.updated_at, format: '%F' %></td>
        <td><%= user_role(user) %></td>
        <td><%= user_status(user) %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="7" class="text-center">
        <%= t('.no_users_found') %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @users, remote: true %>
