<table class="table table-responsive-md table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@search, :email, t('admin.users.email')) %></th>
      <th><%= sort_link(@search, :name, t('admin.users.name')) %></th>
      <th><%= sort_link(@search, :created_at, t('admin.users.created')) %></th>
      <th><%= sort_link(@search, :last_seen_at, t('admin.users.last_seen_at')) %></th>
      <th><%= sort_link(@search, :admin, t('admin.users.role')) %></th>
      <th><%= sort_link(@search, :suspended, t('admin.users.status')) %></th>
    </tr>
  </thead>
  <tbody>
  <% if @users.present? %>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= link_to user.email, admin_user_path(user) %></th>
        <td><%= user.name %></td>
        <td><%= jupiter_time_tag(user.created_at) %></td>
        <td>
          <%= jupiter_time_ago_in_words(user.last_seen_at, blank_message: t('never_signed_in')) %>
        </td>
        <td><%= user_role(user) %></td>
        <td><%= user_status(user) %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="6" class="text-center">
        <%= t('.no_users_found') %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<p class="text-center">
  <%# TODO: Switch to chris' application helper results count instead %>
  <%= t('.display_users_count', shown_users_count: @users.count,
                                matching_users_count: @users.total_count,
                                total_users_count: User.count) %>
</p>
<%= paginate @users %>
