<% page_title(t('.header')) %>

<ol class="breadcrumb mb-5">
  <li class="breadcrumb-item"><%= link_to t('admin.header'), admin_root_path %></li>
  <li class="breadcrumb-item active"><%= t('.header') %></li>
</ol>

<h1 class="my-3"><%= t('.header') %></h1>

<%= simple_form_for :user_search, html: { class: 'jupiter-autocomplete' } do |f| %>
  <div class="d-flex justify-content-between mt-3">
    <div>
      <%= f.input :query,
          as: :search,
          label: false,
          placeholder: t('.search_placeholder'),
          input_html: {
            name: 'query',
          }
      %>
    </div>
    <div>
      <%= f.input :filter,
          as: :select,
          prompt: t(:filter_by),
          label: false,
          collection: user_filter_choices,
          input_html: {
            name: 'filter'
          }
      %>
    </div>
  </div>

  <div id="users" class='jupiter-autocomplete-results'>
    <%= render partial: 'users' %>
  </div>
<% end %>
