<% page_title(t('.header')) %>

<ol class="breadcrumb mb-5">
  <li class="breadcrumb-item"><%= link_to t('admin.header'), admin_root_path %></li>
  <li class="breadcrumb-item active"><%= t('.header') %></li>
</ol>

<h1 class="my-3"><%= t('.header') %></h1>

<form id="user-search">
  <div class="d-flex justify-content-center">
    <div class="p-3 scroll-typeahead-results">
      <%= search_field_tag :query, params[:query],
          placeholder: t('.search_placeholder'), class: 'jupiter-autocomplete' %>
    </div>
  </div>
  <div id="users" class='jupiter-autocomplete-results'>
    <%= render partial: 'users' %>
  </div>
</form>
