<% page_title(@user.name) %>

<ol class="breadcrumb mb-5">
  <li class="breadcrumb-item"><%= link_to t('admin.header'), admin_root_path %></li>
  <li class="breadcrumb-item"><%= link_to t('admin.users.index.header'), admin_users_path %></li>
  <li class="breadcrumb-item active"><%=@user.email %></li>
</ol>

<div class="d-flex flex-wrap justify-content-between mb-3">
  <h1><%= @user.name %></h1>

  <div class="align-self-center">
    <% if policy([:admin, @user]).suspend? %>
      <%= link_to(suspend_admin_user_path(@user), method: :patch,
        class: 'btn btn-secondary',
        data: { confirm: t('.suspend_dialog', user: @user.name) }) do %>
        <%= fa_icon 'ban' %>
        <%= t('.suspend_link_text') %>
      <% end %>
    <% end %>

    <% if policy([:admin, @user]).unsuspend? %>
      <%= link_to(unsuspend_admin_user_path(@user), method: :patch,
        class: 'btn btn-secondary',
        data: { confirm: t('.unsuspend_dialog', user: @user.name) }) do %>
        <%= fa_icon 'check-circle' %>
        <%= t('.unsuspend_link_text') %>
      <% end %>
    <% end %>

    <% if policy([:admin, @user]).revoke_admin? %>
      <%= link_to(revoke_admin_admin_user_path(@user), method: :patch,
        class: 'btn btn-secondary',
        data: { confirm: t('.revoke_admin_dialog', user: @user.name) }) do %>
        <%= fa_icon 'minus-circle' %>
        <%= t('.revoke_admin_link_text') %>
      <% end %>
    <% end %>

    <% if policy([:admin, @user]).grant_admin? %>
      <%= link_to(grant_admin_admin_user_path(@user), method: :patch,
        class: 'btn btn-secondary',
        data: { confirm: t('.grant_admin_dialog', user: @user.name) }) do %>
        <%= fa_icon 'shield' %>
        <%= t('.grant_admin_link_text') %>
      <% end %>
    <% end %>

    <% if policy([:admin, @user]).login_as_user? %>
      <%= link_to(login_as_user_admin_user_path(@user), method: :post,
        class: 'btn btn-secondary',
        data: { confirm: t('.login_as_user_dialog', user: @user.name) }) do %>
        <%= fa_icon 'user-secret' %>
        <%= t('.login_as_user_link_text') %>
      <% end %>
    <% end %>
  </div>
</div>

<dl class="row">
  <dt class="col-sm-3"><%= t('admin.users.email')%></dt>
  <dd class="col-sm-9">
    <%= @user.email %>
  </dd>

  <dt class="col-sm-3"><%= t('admin.users.role') %></dt>
  <dd class="col-sm-9">
    <%= user_role(@user) %>
  </dd>

  <dt class="col-sm-3"><%= t('admin.users.status') %></dt>
  <dd class="col-sm-9">
    <%= user_status(@user) %>
  </dd>

  <dt class="col-sm-3"><%= t('admin.users.created') %></dt>
  <dd class="col-sm-9">
    <%= jupiter_time_tag(@user.created_at) %>
  </dd>

  <dt class="col-sm-3"><%= t('admin.users.last_seen_at') %></dt>
  <dd class="col-sm-9">
    <%= jupiter_time_ago_in_words(@user.last_seen_at, blank_message: t('never_signed_in')) %>
  </dd>
</dl>

<%= render partial: 'profile/user_items',
           locals: { draft_items_header: t('.draft_items_header'),
                     items_header: t('.items_header') } %>
