<ol class="breadcrumb mb-5">
  <li class="breadcrumb-item"><%= link_to t('admin.header'), admin_root_path %></li>
  <li class="breadcrumb-item"><%= link_to t('admin.users.index.header'), admin_users_path %></li>
  <li class="breadcrumb-item active"><%=@user.id %></li>
</ol>

<h1 class="mb-3"><%= @user.display_name %></h1>

<dl class="row">
  <dt class="col-sm-3"><%= t('.email')%></dt>
  <dd class="col-sm-9">
    <%= @user.email %>
  </dd>

  <dt class="col-sm-3"><%= t('.admin') %></dt>
  <dd class="col-sm-9">
    <%= @user.admin? %>
  </dd>

  <dt class="col-sm-3"><%= t('.blocked') %></dt>
  <dd class="col-sm-9">
    <%= @user.blocked? %>
  </dd>

  <dt class="col-sm-3"><%= t('.created_at') %></dt>
  <dd class="col-sm-9">
    <%= time_ago_in_words(@user.created_at) %>
  </dd>

  <dt class="col-sm-3"><%= t('.updated_at') %></dt>
  <dd class="col-sm-9">
    <%= time_ago_in_words(@user.updated_at) %>
  </dd>
</dl>


<% if policy([:admin, @user]).block? %>
  <%= link_to(t('.block_link_text'), block_admin_user_path(@user), method: :patch,
    class: 'btn btn-primary',
    data: { confirm: t('.block_dialog', user: @user.display_name) })
  %>
<% end %>

<% if policy([:admin, @user]).unblock? %>
  <%= link_to(t('.unblock_link_text'), unblock_admin_user_path(@user), method: :patch,
    class: 'btn btn-primary',
    data: { confirm: t('.unblock_dialog', user: @user.display_name) })
  %>
<% end %>


<% if policy([:admin, @user]).revoke_admin? %>
  <%= link_to(t('.revoke_admin_link_text'), revoke_admin_admin_user_path(@user), method: :patch,
    class: 'btn btn-primary',
    data: { confirm: t('.revoke_admin_dialog', user: @user.display_name) })
  %>
<% end %>

<% if policy([:admin, @user]).grant_admin? %>
  <%= link_to(t('.grant_admin_link_text'), grant_admin_admin_user_path(@user), method: :patch,
    class: 'btn btn-primary',
    data: { confirm: t('.grant_admin_dialog', user: @user.display_name) })
  %>
<% end %>

<% if policy([:admin, @user]).impersonate? %>
  <%= link_to(t('.impersonate_link_text'), impersonate_admin_user_path(@user), method: :post,
    class: 'btn btn-primary',
    data: { confirm: t('.impersonate_dialog', user: @user.display_name) })
  %>
<% end %>

<div class="row mt-3">
  <div class="col">
    <div class="list-group">
			<% if @works.present? %>
				<% @works.each do |work| %>
  				<%= link_to work.title, work_path(work), class: 'list-group-item list-group-item-action'%>
        <% end %>
      <% else %>
				<p><%= t('.no_works_found') %></p>
      <% end %>
    </div>
  </div>
</div>
