<ol class="breadcrumb mb-5">
  <li class="breadcrumb-item"><%= link_to 'Admin', admin_root_path %></li>
  <li class="breadcrumb-item"><%= link_to 'Users', admin_users_path %></li>
  <li class="breadcrumb-item active"><%=@user.id %></li>
</ol>

<h1><%= @user.display_name %></h1>
<p>Email: <%= @user.email %></p>
<p>Admin: <%= @user.admin? %></p>
<p>Blocked: <%= @user.blocked? %></p>
<p>Created At: <%= @user.created_at %></p>
<p>Updated At: <%= @user.updated_at %></p>

<% if @user.blocked? %>
  <%= link_to(t('.unblock_link_text'), unblock_admin_user_path(@user), method: :patch,
    class: 'btn btn-primary',
    data: { confirm: t('.unblock_dialog', user: @user.display_name) })
  %>
<% else %>
  <%= link_to(t('.block_link_text'), block_admin_user_path(@user), method: :patch,
    class: 'btn btn-primary',
    data: { confirm: t('.block_dialog', user: @user.display_name) })
  %>
<% end %>

<% if @user.admin? %>
  <%= link_to(t('.revoke_admin_link_text'), revoke_admin_admin_user_path(@user), method: :patch,
    class: 'btn btn-primary',
    data: { confirm: t('.revoke_admin_dialog', user: @user.display_name) })
  %>
<% else %>
  <%= link_to(t('.grant_admin_link_text'), grant_admin_admin_user_path(@user), method: :patch,
    class: 'btn btn-primary',
    data: { confirm: t('.grant_admin_dialog', user: @user.display_name) })
  %>
<% end %>

<%= link_to(t('.impersonate_link_text'), impersonate_admin_user_path(@user), method: :post,
  class: 'btn btn-primary',
  data: { confirm: t('.impersonate_dialog', user: @user.display_name) })
%>

<div class="row mt-3">
  <div class="col">
    <div class="list-group">
			<% if @works.present? %>
				<% @works.each do |work| %>
  				<%= link_to work.title, work_path(work), class: 'list-group-item list-group-item-action'%>
        <% end %>
      <% else %>
				<p><%= t('.no_works_found') %></p>
      <% end %>
    </div>
  </div>
</div>
