<ul class="list-group">
  <% if @digitization_book.languages.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('digitization.books.book.language') %></dt>
        <dd>
          <ul class="list-unstyled">
            <% @digitization_book.languages.each do |language| %>
              <li><%= language_search_link(@digitization_book, language) %></li>
            <% end %>
          </ul>
        </dd>
      </dl>
    </li>
  <% end %>

  <% if @digitization_book.genre.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('digitization.books.book.genre') %></dt>
        <dd>
          <ul class="list-unstyled">
            <% @digitization_book.genre.each do |genre| %>
              <li><%= genre_search_link(@digitization_book, genre) %></li>
            <% end %>
          </ul>
        </dd>
      </dl>
    </li>
  <% end %>

  <% if @digitization_book.place_of_publication.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('digitization.books.book.place_of_publication') %></dt>
        <dd>
          <ul class="list-unstyled">
            <% @digitization_book.place_of_publication.each do |place| %>
              <li><%= place_of_publication_search_link(@digitization_book, place) %></li>
            <% end %>
          </ul>
        </dd>
      </dl>
    </li>
  <% end %>

  <% if @digitization_book.extent.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('digitization.books.book.extent') %></dt>
        <dd><%= @digitization_book.extent %></dd>
      </dl>
    </li>
  <% end %>

  <% if @digitization_book.is_version_of.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('items.show.is_version_of') %></dt>
        <dd>
          <ul class="list-unstyled">
            <% @digitization_book.is_version_of.each do |thing| %>
              <li><%= thing %></li>
            <% end %>
          </ul>
        </dd>
      </dl>
    </li>
  <% end %>

  <% if @digitization_book.source.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('items.item.source') %></dt>
        <dd><%= @digitization_book.source %></dd>
      </dl>
    </li>
  <% end %>

  <% if @digitization_book.related_link.present? %>
    <li class="list-unstyled list-group-item-action">
      <dl>
        <dt><%= t('items.item.related_link') %></dt>
        <dd><%= @digitization_book.related_link %></dd>
      </dl>
    </li>
  <% end %>
</ul>
