<p id="notice"><%= notice %></p>

<h1><% t('digitization.books') %></h1>

<table>
  <thead>
    <tr>
      <th><% t('digitization.peel') %></th>
      <th><% t('digitization.run') %></th>
      <th><% t('digitization.part_number') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @digitization_books.each do |digitization_book| %>
      <tr>
        <td><%= digitization_book.peel_id %></td>
        <td><%= digitization_book.run %></td>
        <td><%= digitization_book.part_number %></td>
        <td><%= link_to 'Show', digitization_book %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
