<p id="notice"><%= notice %></p>

<p>
  <strong>Peel:</strong>
  <%= @digitization_book.peel_id %>
</p>

<p>
  <strong>Run:</strong>
  <%= @digitization_book.run %>
</p>

<p>
  <strong>Part number:</strong>
  <%= @digitization_book.part_number %>
</p>

<%= link_to 'Back', digitization_books_path %>
