<%# TODO: Reduce duplication between this partial and thesis, pretty much exactly the same %>
<div class="media mb-3">
  <%= link_to item_path(item) do %>
    <%= render partial: 'thumbnail', locals: { object: item } %>
  <% end %>
  <div class="media-body ml-3">
    <div class="d-flex flex-wrap flex-lg-nowrap align-items-start">
      <h3 class="mt-0 h5 mr-auto"><%= link_to item.title, item_path(item) %></h3>
      <% if policy(item).download? %>
        <% primary_file = item.files.first %>
        <% if primary_file.present? && primary_file.fileset_uuid.present? %>
          <%= link_to file_download_item_url(id: primary_file.record.id,
                                             file_set_id: primary_file.fileset_uuid),
                      class: 'btn btn-secondary mr-2 mb-2 mb-md-0',
                      rel: 'nofollow',
                      download: primary_file.filename.to_s do %>
            <%= icon('fas', 'cloud-download-alt') %>
            <%= t('download') %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(item).update? || policy(item).destroy? %>
        <div class="btn-group">
          <% if policy(item).update? %>
            <%= link_to edit_item_path(item), class: 'btn btn-outline-secondary'  do %>
              <%= icon('fas', 'edit') %>
              <%= t('edit') %>
            <% end %>
          <% end %>
          <% if policy(item).destroy? %>
            <%= link_to admin_item_path(item), method: :delete, class: 'btn btn-outline-secondary',
                                               data: { confirm: t('collections.show.item_delete_confirm', title: item.title) } do %>
              <%= icon('fas', 'trash-alt') %>
              <%= t('delete') %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <p>
      <%= humanize_date(item.creation_date) %>
    </p>
    <p>
      <%# TODO: the search path may need to be revisited %>
      <%= safe_join(item.creators&.map { |creator| search_link_for(item, :all_contributors, value: creator) }, ', ') %>
    </p>
    <% if item.description.present? %>
      <p>
        <%= jupiter_truncate item.description %>
      </p>
    <% end %>
  </div>
</div>
