<header class="navbar navbar-dark fixed-top navbar-expand-md bg-primary">
  <nav class="container">


    <a id="skip" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text"><%= t('.skip_to_main_content')%></span>
      </div>
    </a>

    <%= link_to root_path, class: 'navbar-brand' do %>
      <%# TODO: temporary logo for now...replace me! %>
      <%= image_tag 'mc_360.png', width: '30', height: '30', class: 'd-inline-block align-top', alt: t('.logo_alt') %>
      <%= t('site_name') %>
    <% end %>

    <button type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#jupiter-main-nav"
            aria-controls="jupiter-main-nav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="jupiter-main-nav" aria-expanded="false">
      <ul class="navbar-nav mr-auto">
        <li role="presentation" class="nav-item">
          <%= link_to t('.links.communities'), communities_path, class: "nav-link" %>
        </li>

        <li role="presentation" class="nav-item">
          <%= link_to t('.links.new_item'), new_item_path, class: "nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav pull-xs-right mr-2">
        <li role="presentation" class="nav-item mr-3">
          <form class="form-inline" action="<%= search_path %>">
            <div class="input-group" aria-label="navbar-search">
              <%= search_field_tag 'search', nil, placeholder: t('.search.placeholder'),
                  value: params[:search], id: 'navbar-search', 'aria-label': 'search-box', class: "form-control" %>
              <div class="input-group-btn">
                <button type="submit" class="btn btn-secondary">
                  <%= fa_icon 'search' %>
                  <%= t('.search.button_text') %>
                </button>
              </div>
            </div>
          </form>
        </li>

        <% if current_user.present? %>
          <li class="dropdown nav-item">
            <a href="#"
              role="button"
              id="jupiter-user-nav-downdown"
              class="dropdown-toggle nav-link"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              <%= current_user.name %>
            </a>

            <div role="menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="#jupiter-user-nav-downdown">
              <div class="dropdown-header">
                <%= t('.user_dropdown.heading_html', name: current_user.name) %>
              </div>
              <div class="dropdown-divider"></div>
              <%= link_to t('.links.profile'), "#TODO", class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to t('.links.logout'), logout_path, class: 'dropdown-item' %>

              <% if session[:admin_id] %>
                <div class="dropdown-divider"></div>
                <%= link_to t('.links.logout_as_user'), logout_as_user_path, method: :post, class: 'dropdown-item' %>
              <% end %>

              <% if current_user.admin? %>
                <div class="dropdown-divider"></div>
                <%= link_to t('.links.admin'), admin_root_path, class: 'dropdown-item' %>
              <% end %>
            </div>

          </li>
        <% else %>
          <li role="presentation" class="nav-item">
            <%= link_to t('.links.login'), login_path, class: 'nav-item nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
