<div class="media mb-3">
  <%= link_to path_for_result(thesis) do %>
    <%= render partial: 'thumbnail', locals: { thumbnail: thesis.thumbnail.attachment, object: thesis } %>
  <% end %>
  <div class="media-body ml-3">
    <div class="d-flex flex-wrap flex-lg-nowrap justify-content-between align-items-start">
      <h5 class="mt-0"><%= link_to thesis.title, path_for_result(thesis) %></h5>
      <div class="btn-group">
        <% primary_file = thesis.file_sets.first %>
        <% if primary_file.present? %>
          <%= link_to fileset_uri(primary_file, :download), class: 'btn btn-secondary', rel: 'nofollow' do %>
            <%= fa_icon 'cloud-download' %>
            <%= t('download') %>
          <% end %>
        <% end %>
        <% if policy(thesis).update? %>
          <%= link_to edit_item_path(thesis), class:'btn btn-outline-secondary'  do %>
            <%= fa_icon('pencil-square-o') %>
            <%= t('edit') %>
          <% end %>
        <% end %>
        <% if policy(thesis).destroy? %>
          <%= link_to item_path(thesis), method: :delete, class:'btn btn-outline-secondary',
              data: { confirm: t('collections.show.item_delete_confirm', title: thesis.title) } do %>
            <%= fa_icon('trash') %>
            <%= t('delete') %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="mt-0">
      <%= humanize_date(thesis.creation_date) %>
    </div>
    <div>
      <%# TODO: the search path may need to be revisited %>
      <%= search_link_for(thesis, :all_contributors, value: thesis.dissertant) %>
    </div>
    <div>
      <%= jupiter_truncate thesis.abstract %>
    </div>
  </div>
</div>
