<div class="media mb-3">
  <%= link_to item_path(thesis) do %>
    <%= render partial: 'thumbnail', locals: { object: thesis } %>
  <% end %>
  <div class="media-body ml-3">
    <div class="d-flex flex-wrap flex-lg-nowrap align-items-start">
      <h3 class="mt-0 h5 mr-auto"><%= link_to thesis.title, item_path(thesis) %></h3>

      <% if policy(thesis).download? %>
        <% primary_file = thesis.files.first %>
        <% if primary_file.present? && primary_file.fileset_uuid.present? %>
          <%= link_to file_download_item_url(id: primary_file.record.id,
                                 file_set_id: primary_file.fileset_uuid),
                      class: 'btn btn-secondary mr-2 mb-2 mb-md-0',
                      rel: 'nofollow',
                      download: primary_file.filename.to_s do %>
            <%= icon('fas', 'cloud-download-alt') %>
            <%= t('download') %>
          <% end %>
        <% end %>
      <% end %>

      <% if policy(thesis).update? || policy(thesis).destroy? %>
        <div class="btn-group">
          <% if policy(thesis).update? %>
            <%= link_to edit_item_path(thesis), class:'btn btn-outline-secondary'  do %>
              <%= icon('fas', 'edit') %>
              <%= t('edit') %>
            <% end %>
          <% end %>
          <% if policy(thesis).destroy? %>
            <%= link_to admin_item_path(thesis), method: :delete, class:'btn btn-outline-secondary',
                data: { confirm: t('collections.show.item_delete_confirm', title: thesis.title) } do %>
              <%= icon('fas', 'trash-alt') %>
              <%= t('delete') %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <p>
      <%= humanize_date(thesis.creation_date) %>
    </p>
    <p>
      <%# TODO: the search path may need to be revisited %>
      <%= search_link_for(thesis, :all_contributors, value: thesis.dissertant) %>
    </p>
    <% if thesis.abstract.present? %>
      <p>
        <%= jupiter_truncate thesis.abstract %>
      </p>
    <% end %>
  </div>
</div>
