<% if policy(object).thumbnail? %>
  <% if thumbnail.present? && image?(thumbnail) %>
    <%= image_tag(thumbnail.url, class: 'j-thumbnail img-thumbnail', alt: '', title: object.title, size: '100x100') %>
  <% else %>
    <% if object.is_a? Community %>
      <%= image_tag('era-logo-without-text.png', class: 'j-thumbnail img-thumbnail', alt: '', title: object.title, size: '100x100') %>
    <% else %>
      <div class="text-muted text-center img-thumbnail p-3">
        <%= fa_icon file_icon(thumbnail&.content_type), class: 'fa-5x' %>
        <span class="sr-only"><%= object.title %></span>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= image_tag('uofa-logo.png', class: 'j-thumbnail img-thumbnail', alt: '', title: object.title, size: '100x100') %>
<% end %>
