<% if @collections.count > 0 %>
  <div class="d-flex flex-wrap justify-content-between">
    <div><%# TODO: search box goes here %></div>
    <div>
      <%= render partial: 'communities/sort' %>
    </div>
  </div>

  <div class='p-3'>
    <%= render partial: 'collection', collection: @collections,
        locals: {community: @community} %>
    <div class="p-2 d-flex justify-content-center">
      <div>
        <%= results_range(@collections) %>
      </div>
    </div>
    <%= paginate @collections %>
  </div>
<% else %>
  <li class="list-group-item list-group-item-action">
    <%= t('communities.show.no_collections') %>
  </li>
<% end %>
