<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="sort-button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <% if params[:sort].present? %>
      <%= communities_collections_sort_label(params[:sort], params[:direction]) %>
    <% else %>
      <%= t(:sort_by) %>
    <% end %>
  </button>
  <div class="dropdown-menu" aria-labelledby="sort-button">
    <%= communities_collections_sort_link('title', 'asc') %>
    <%= communities_collections_sort_link('title', 'desc') %>
    <%= communities_collections_sort_link('record_created_at', 'desc') %>
    <%= communities_collections_sort_link('record_created_at', 'asc') %>
  </div>
</div>
