<% page_title(t('.header')) %>

<div class="d-flex flex-wrap justify-content-between align-items-center mt-3">
  <h1><%= t('.header') %></h1>

  <% if policy(Community).create? %>
    <%= link_to new_admin_community_path,
        class: 'btn btn-primary' do %>
      <%= fa_icon('plus-circle') %>
      <%= t('.create_community') %>
    <% end %>
  <% end %>
</div>

<div class="d-flex flex-wrap justify-content-between">
  <div>
    <h3><%= t(:browse_all) %></h3>
  </div>

  <div>
    <%= render partial: 'sort' %>
  </div>
</div>

<div class='p-3'>

  <div class="row mt-3">
    <div class="col-md-12">
      <ul class="list-group">
        <% @communities.each do |community| %>
          <li class="list-group-item list-group-item-action">
             <%= link_to community_path(community), class: 'media jupiter-community-media' do %>
               <%= render partial: 'logo', locals: {object: community} %>
               <div class="media-body">
                 <h4 class="mt-0"><%= community.title %></h4>
                 <p class="text-muted"><%= community.description %></p>
               </div>
             <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="p-2 d-flex justify-content-center">
    <div>
      <%= results_range(@communities) %>
    </div>
  </div>

  <%= paginate @communities %>
</div>
