<% page_title(t('communities.title', title: @community.title)) %>

<h1 class="mt-3"><%= t('communities.title', title: @community.title) %></h1>

<% if policy(@community).edit? || policy(@community).destroy? %>
  <div class="row mt-3" >
    <div class="col text-right" >
      <div class="btn-group">
        <% if policy(@community).edit? %>
          <%= link_to t('.edit'), edit_community_path(@community),
              class:'btn btn-outline-primary' %>
        <% end %>
        <% if policy(@community).destroy? %>
          <%= link_to t('.delete'), community_path(@community), method: :delete,
              class:'btn btn-danger',
              data: { confirm: t('.delete_confirm', title: @community.title) } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="row mt-3">
  <div class="col-md-2" >
    <%= render partial: 'logo' %>
  </div>

  <div class="col" >
    <p>
      <%= @community.description %>
    </p>
  </div>
</div>

<div class="d-flex justify-content-between mt-3">
    <h4 class="collections-header">
      <%= t('.collections_list_header') %>
    </h4>
  <% if policy(:collection).create? %>
      <%= link_to t('.create_new_collection'), new_community_collection_path(@community),
          class: 'btn btn-primary align-self-center' %>
  <% end %>
</div>

<div class="row mt-3">
  <div class="col-md-12">
      <% if policy(:admin).access? %>
        <ul class="list-group">
          <%= render partial: 'collections_list' %>
        </ul>
      <% else %>
          <% if @community.member_collections.count > 0 %>
            <div class="list-group">
              <% @community.member_collections.each do |collection| %>
                <%= link_to collection.title, community_collection_path(@community, collection),
                    class: 'list-group-item list-group-item-action' %>
                <% end %>
            </div>
          <% else %>
            <ul class="list-group">
              <li class="list-group-item list-group-item-action">
                <%= t('communities.show.no_collections') %>
              </li>
            </ul>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>
