<h2 class="mt-3"><%= t('communities.title', title: @community.title) %></h2>

<% if policy(@community).edit? || policy(@community).destroy? %>
  <div class="row mt-3" >
    <div class="col text-right" >
      <div class="btn-group">
        <% if policy(@community).edit? %>
          <%= link_to t('.edit'), edit_community_path(@community),
              class:'btn btn-secondary' %>
        <% end %>
        <% if policy(@community).destroy? %>
          <%= link_to t('.delete'), community_path(@community), method: :delete,
              class:'btn btn-danger',
              data: { confirm: t('.delete_confirm', title: @community.title) } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="row mt-3">
  <div class="col" >
    <p>
      <%= @community.description %>
    </p>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <h4 class="collections-header">
      <% if @community.member_collections.count > 0 %>
        <%= t('.collections_list_header') %>
      <% else %>
        <%= t('.no_collections') %>
      <% end %>
    </h4>
  </div>
  <% if policy(:collection).create? %>
    <div class="col text-right">
      <%= link_to t('.create_new_collection'), new_community_collection_path(@community),
          class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<% if @community.member_collections.count > 0 %>
  <div class="row mt-3">
    <div class="col">
      <div class="list-group">
        <%= render partial: 'admin/communities_and_collections/collection',
            collection: @community.member_collections, locals: { community: @community } %>
      </div>
    </div>
  </div>
<% end %>
