<% page_title(@community.title) %>

<div class="container mt-3">
  <%= render partial: 'show_breadcrumbs' %>

  <div class="d-flex flex-wrap align-items-center justify-content-between mt-3">
    <h1><%= @community.title %></h1>

    <% if policy(@community).edit? || policy(@community).destroy? %>
      <div class="btn-group">
      <% if policy(@community).edit? %>
          <%= link_to edit_admin_community_path(@community),
              class:'btn btn-outline-secondary' do %>
            <%= fa_icon('pencil-square-o') %>
            <%= t('edit') %>
          <% end %>
        <% end %>
            <% if policy(@community).destroy? %>
          <%= link_to admin_community_path(@community), method: :delete,
              class:'btn btn-outline-secondary',
              data: { confirm: t('.delete_confirm', title: @community.title) } do %>
            <%= fa_icon('trash') %>
            <%= t('delete') %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="media p-3">
    <%= render partial: 'thumbnail', locals: { thumbnail: @community.logo.attachment, object: @community } %>
    <div class="media-body ml-3">
      <p><%= @community.description %></p>
    </div>
  </div>

  <div class="d-flex flex-wrap align-items-center justify-content-between mt-3">
    <h4>
      <%= t('.collections_list_header') %>
    </h4>
    <% if policy(:collection).create? %>
        <%= link_to new_admin_community_collection_path(@community),
            class: 'btn btn-primary' do %>
          <%= fa_icon('plus-circle') %>
          <%= t('.create_collection') %>
        <% end %>
    <% end %>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <div class="d-flex justify-content-end mb-3">
        <%# TODO: search box goes here %>
        <%= render partial: 'communities/sort' %>
      </div>
      <ul class="list-group">
        <%= render partial: 'communities/collections_list' %>
      </ul>
      <div class="text-center m-3">
        <%= results_range(@collections) %>
      </div>
      <div class="text-center">
        <%= paginate @collections %>
      </div>
    </div>
  </div>
</div>
