<% page_title(@user.name) %>

<div class="container mt-3">
  <h1 class="mb-3"><%= @user.name %></h1>

  <dl class="row">
    <dt class="col-sm-3"><%= t('admin.users.created') %></dt>
    <dd class="col-sm-9">
      <%= jupiter_time_tag(@user.created_at) %>
    </dd>

    <dt class="col-sm-3"><%= t('admin.users.email') %></dt>
    <dd class="col-sm-9">
      <%= @user.email %>
    </dd>
  </dl>

  <%= render partial: 'user_items',
             locals: { draft_items_header: t('.draft_items_header'),
                       draft_theses_header: t('.draft_theses_header'),
                       items_header: t('.items_header') } %>
</div>
