<%= simple_form_for([:admin, @batch_ingest]) do |f| %>
  <%= f.error_notification %>

  <%= f.input :title, label: t('.title'), placeholder: t('.title_placeholder') %>

 <h2>Spreadsheet</h2>
  <div class="js-google-spreadsheet">
    <% if @batch_ingest.spreadsheet.present? %>
        <div>
          <input type="checkbox" name='batch_ingest[spreadsheet_id]' value="<%= @batch_ingest.spreadsheet['id'] %>" checked>
          <input type="hidden" name='batch_ingest[spreadsheet_name]' value="<%= @batch_ingest.spreadsheet['name'] %>">
          <label for="batch_ingest[spreadsheet_id]"><%= @batch_ingest.spreadsheet['name'] %></label>
        </div>
    <% end %>
  </div>
  <%= button_tag 'Add Spreadsheet',
      type: "button",
      class: "btn-spreadsheet",
      data: { access_token: @access_token }
  %>

  <h2>Files</h2>
  <div class="js-google-files-list">
    <% if @batch_ingest.files.present? %>
      <% @batch_ingest.files.each do |file| %>
        <div>
          <input type="checkbox" name='batch_ingest[file_ids][]' value="<%= file[:id] %>" checked>
          <input type="hidden" name='batch_ingest[file_names][]' value="<%= file[:name] %>">
          <label for="batch_ingest[file_ids][]"><%= file[:name] %></label>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= button_tag 'Add Files',
      type: "button",
      class: "btn-files",
      data: { access_token: @access_token }
  %>

   <div class="form-group text-right">
    <%= f.button :button,
                 type: :submit,
                 label: f.object.new_record? ? t('.create_batch_ingest') : t('.update_batch_ingest'),
                 class: 'btn btn-primary',
                 data: { disable_with: t('.saving_html') } %>
  </div>
<% end %>
