<% page_title(@batch_ingest.title) %>

<ol class="breadcrumb mb-1">
  <li class="breadcrumb-item"><%= link_to t('admin.header'), admin_root_path %></li>
  <li class="breadcrumb-item"><%= link_to t('admin.batch_ingests.index.header'), admin_batch_ingests_path %></li>
  <li class="breadcrumb-item active"><%= @batch_ingest.title %></li>
</ol>

<h1 class="mt-3"><%= @batch_ingest.title %></h1>
<p><%= t('.status') %> <%= @batch_ingest.status %></p>
<p><%= t('.created_by') %> <%= @batch_ingest.user.name %></p>

<h2><%= t('.spreadsheet') %></h2>
<p><%= t('.id') %> <%= @batch_ingest.spreadsheet['id'] %></p>
<p><%= t('.name') %> <%= @batch_ingest.spreadsheet['name'] %></p>

<h2><%= t('.files') %></h2>
<% @batch_ingest.files.each do |file| %>
  <p><%= t('.id') %> <%= file['id'] %></p>
  <p><%= t('.name') %> <%= file['name'] %></p>
<% end %>
