<% page_title( t('admin.header')) %>

<% content_for(:head) do %>
  <%= javascript_include_tag 'admin' %>
<% end %>

<% content_for(:content) do %>
  <div class="row" >
    <div class="col-md-2" >
      <h2><%= link_to t('admin.header'), admin_root_path %></h2>

      <%= render 'sidebar_group', title: t('admin.items.title') do %>
        <li><%= link_to t('admin.items.index.header'), '#' %></li>
        <li><%= link_to t('admin.items.new.header'), new_item_path %></li>
      <% end %>

      <%= render 'sidebar_group', title: t('admin.users.title') do %>
        <li><%= link_to t('admin.users.index.header'), admin_users_path %></li>
      <% end %>

      <%= render 'sidebar_group', title: t('admin.communities_and_collections.title') do %>
        <li><%= link_to t('admin.communities_and_collections.index.header'), admin_communities_and_collections_path %></li>
        <li><%= link_to t('admin.communities_and_collections.new.header'), new_community_path %></li>
      <% end %>

      <%= render 'sidebar_group', title: t('admin.site_notifications.title') do %>
        <li><%= link_to t('admin.site_notifications.new.header'), new_admin_site_notification_path %></li>
      <% end %>

      <%= render 'sidebar_group', title: t('admin.pages.title') do %>
        <li><%= link_to t('admin.pages.index.header'), '#' %></li>
      <% end %>

      <%= render 'sidebar_group', title: t('admin.analytics.title') do %>
        <li><%= link_to t('admin.analytics.index.header'), '#' %></li>
      <% end %>
    </div>

    <div class="col-md-10" >
      <%= yield  %>
    </div>

  </div>
<% end %>

<%= render template: 'layouts/application' %>
