<% page_title( t('admin.header')) %>

<% content_for(:head) do %>
  <%= javascript_include_tag 'admin' %>
<% end %>

<% content_for(:content) do %>
  <div class="container mt-3">
    <ul class="nav nav-tabs my-3">
      <li class="nav-item">
        <%= active_link_to t('admin.dashboard.index.header'), admin_root_path, class: 'nav-link', active: :exclusive %>
      </li>
      <li class="nav-item">
        <%= active_link_to t('admin.users.index.header'), admin_users_path, class: 'nav-link', active: :exclusive  %>
      </li>
      <li class="nav-item">
        <%= active_link_to t('admin.announcements.index.header'), admin_announcements_path, class: 'nav-link', active: :exclusive  %>
      </li>
      <li class="nav-item">
        <%= active_link_to t('admin.communities.index.header'), admin_communities_path, class: 'nav-link', active: :exclusive  %>
      </li>
      <li class="nav-item">
        <%= active_link_to t('admin.items.index.header'), admin_items_path, class: 'nav-link', active: :exclusive  %>
      </li>
      <li class="nav-item">
        <%= active_link_to "(TODO) #{t('admin.pages.index.header')}", '#', class: 'nav-link', active: :exclusive  %>
      </li>
      <li class="nav-item">
        <%= active_link_to "(TODO) #{t('admin.analytics.index.header')}", '#', class: 'nav-link', active: :exclusive  %>
      </li>
    </ul>
    <%= yield  %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
