<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= page_title(t('site_name')) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
    <%= favicon_link_tag 'era-logo-favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= render partial: 'navbar' %>
    <main>
      <%= render partial: 'announcement' %>
      <%= render partial: 'flash' %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
    <%= render partial: 'footer' %>
  </body>
</html>
