<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= page_title(t('site_name')) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
    <% if Rails.env.development? %>
      <%= favicon_link_tag 'mc_360.png' %>
    <% end %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= render partial: 'navbar' %>
    <%= render partial: 'announcement' %>

    <main class="container mt-5" id="main">
      <%= render partial: 'flash' %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
