<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jupiter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= render partial:'navbar' %>
    <div class="container">    
      <%= render partial: 'flash' %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
