<% page_title('.header') %>

<ol class="breadcrumb mb-5">
  <li class="breadcrumb-item"><%= link_to t('admin.header'), admin_root_path %></li>
  <li class="breadcrumb-item active"><%= t('.header') %></li>
</ol>


<h1><%= t('.header') %></h1>
  <%= simple_form_for [:admin, @new_notification] do |f| %>
    <%= f.input :message %>
    <%= f.button :submit, t('.new_button_text') %>
  <% end %>

  <h2 class="mt-5"><%= t('.current_notifications') %></h5>

  <ul class="list-group">
    <% unless current_notifications.present? %>
      <li class="list-group-item"><%= t('.no_current_notifications') %></li>
    <% end %>

    <% current_notifications.each do |notification| %>
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-start">
          <h4><%= notification.message %></h4>
          <%= button_to t('remove'),
                        admin_site_notification_path(notification),
                        method: :delete,
                        class: 'btn btn-danger',
                        data: {confirm: t('.are_you_sure_you_want_to_remove')} %>
        </div>
        <p><em><%= t('.posted_at', created_at: notification.created_at) %></em></p>
      </li>
    <% end %>
  </ul>

  <h2 class="mt-5"><%= t('.past_notifications') %></h2>

  <ul class="list-group">
    <% unless past_notifications.present? %>
      <li class="list-group-item"><%= t('.no_past_notifications') %></li>
    <% end %>

    <% past_notifications.each do |notification| %>
      <li class="list-group-item">
        <h4><%= notification.message %></h4>

        <p><em><%= t('.posted_at', created_at: notification.created_at) %></em></p>
        <p><em><%= t('.removed_at', removed_at: notification.removed_at) %></em></p>
      </li>
    <% end %>
  </ul>
